.right-aligned {
    text-align: right !important;
}

.center-aligned {
    text-align: center !important;
    justify-content: center;
}

.bg-grey {
    background-color: #f9f9f9;   
}

.bg-medium-grey {
    background-color: #eeeeee;
}

.bg-action-grey {
    background-color: #eef1f3;
}

.bg-blue-gradient {
    background-image: linear-gradient(to bottom, #8399f5, #7aa9f1);
}

.texto-destaque {
    color: $texto-destaque !important;
}

a.texto-destaque {
    color: #0aabf4 !important;
}

.unstyled-link {
    text-decoration: none;
}

.uppercase  {
    text-transform: uppercase !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-bg {
    background: transparent !important;
}

.no-pad-left {padding-left: 0 !important;}
