.dashboard {
    div[data-ls-module="progressBar"] {
        width: 100px;
    }
    .icon-buttons-group {
        [class*="ls-btn"].ls-btn-icon [class*="ico"] {
            font-size: 20px;
            
        }
    }
    .ls-box {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 15px;
        }   
        .ls-box-inner {
            border-radius: 4px; 
            padding: 15px;
            color: #fff;
            .ls-title {
                color: #fff;
                font-size: 18px;
                margin: 10px 0 25px;
            }
            .box-loja-fontes {
                text-align: center;
                padding: 20px;
                margin-top: 15px;
                border-radius: 5px;                
                .ls-title {                    
                    color: #7ea1f3;
                    font-size: 15px;
                    font-weight: bold;
                    text-align: center;
                    margin: 0;
                }
                .content-area {
                    height: 200px;
                    overflow: auto;
                }
                p {
                    color: #a6a6c4;
                    line-height: 1.2;
                }
            }            
        }                     
    }

    .select2-container--default {
        .select2-selection--single  {
            height: 30px;
            border-radius: 5px;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
            border: solid 1px rgba(255, 255, 255, 0.28);
            background-color: rgba(255, 255, 255, 0.22);
            .select2-selection__rendered {
                color: #fff;
                line-height: 30px;
                font-size: 13px;
                text-transform: uppercase;
            }
        }
    }

    .choices[data-type*="select-one"] {
        &:after {
              background-image: url(../../assets/img/arrows/arrow-dropdown-monocolor.png);
        }
        .choices__inner {
            height: 30px;
            border-radius: 5px;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
            border: solid 1px rgba(255, 255, 255, 0.28);
            background-color: rgba(255, 255, 255, 0.22);        
        }        
    }

    .mCSB_outside + .mCSB_scrollTools {
        right: -5px;
    }



}

.item-line {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 15px 10px;
    border-radius: 5px;
    position: relative;
    &-block {
        padding: 10px;
    }
    + * {
        margin-top: 8px;
    }
    a {
        color: #7ea1f3;
        transition: 0.5s;
        &:hover {
            color: darken(#7ea1f3, 20%);
        }
    }
    .sub-content {
        margin-top: 5px;
        padding-left: 20px;
    }
}

.box-livros-recentes,
.box-feed-noticias {
    .header {
        margin: -13px;
        color: #fff;
        padding: 15px; 
        border-radius: 25px 5px 5px 5px;   
        font-size: 16px;  
        position: relative;
        &.small-header {
            padding: 7px;
            border-radius: 15px 5px 5px 5px;  
            .icone {
                float: right;
            }          
        }  
    }
    .total-livros-recentes {
        position: relative;
        font-size: 40px;
        margin-top: 15px;
        &:before {
            position: absolute;
            right: 0;
            font-size: 15px;
            bottom: 5px;
        }
    }
}

.box-livros-recentes {
    .content-area {
        height: 140px;
        overflow: auto;
    }
}

.box-feed-noticias {
    .content-area {
        height: 248px;
        overflow: auto;
    }
}

.box-ranking-relatorios {
    padding: 15px;
    color: #fff;
    border-radius: 5px;
    .box-grafico {
        font-size: 15px;
        color: #a6a6c4;
        margin-top: 15px;
        .item-line {
            @include pseudoElemento($tipo: before) {
                width: 10px;
                height: 10px;
                background: #d9dde6;
                border-radius: 10px;
                left: -5px;
                top: 16px;
            }
            &.item-pj {
                &:before {
                    background: #8399f5;
                }
            }
            .sub-content {
                padding-left: 0;
            }
        } 
    }
}


.box-aprovacao {
    .box-titulo {
        font-size: 13px;
        color: #7ea1f3;
        font-weight: 100;
        border-bottom: solid 1px #d9dde6;
        padding-bottom: 15px;
        margin-bottom: 10px;
    }
    .bold {
        color: #544364;
        font-weight: bold;
    }
}

.ls-boxes {
    &.box-loja-fontes-container {
        .ls-box:first-child {
            padding: 10px;
        }
        .content-area {
            // margin: 0 -15px;
            height: 515px;
            overflow: auto;
            // padding-right: 5px;            
        }
        .mCSB_outside + .mCSB_scrollTools {
            right: -15px;
        }        
    }
}

.mCSB_scrollTools {
    .mCSB_dragger {
        .mCSB_dragger_bar {
            background: #27deac;
        }
        &.mCSB_dragger_onDrag {
            .mCSB_dragger_bar {
                background: #f5842a;
            }
        }
    }
}

