$header-altura: 60px;
$doc_bg: #090e1c;
$doc_menu-bg-color: #a6a6c4;
$doc_sidebar-largura: 1100px;
$doc_pagina-largura: 875px;

.ls-main.doc {
	height: auto;
	margin: 0;
	padding: $header-altura 0 0;
}

// Estrutura base
.doc-wrapper {
	position: relative;
	min-width: 1260px;
	max-width: 100%;
	height: 100%;
	background: $doc_bg;

	&.open {
		.doc-principal {
			overflow: hidden;
			right: $doc_sidebar-largura;
		}

		.sidebar-menu {
			margin-right: 0;
		}

		.doc-sidebar {
			right: 0;
		}
	}

	@media screen and (max-width: 1279px) {
		$doc_sidebar-menu-largura--smallscreen: 40px;
		$doc_sidebar-largura--smallscreen: 840px;

		min-width: $doc_pagina-largura;

		.doc-principal {
			.doc-menu {
				overflow: hidden;
				width: 0;
			}
	
			.sidebar-menu {
				width: $doc_sidebar-menu-largura--smallscreen;
			}
		}

		.doc-sidebar {
			right: $doc_sidebar-largura--smallscreen * -1;
			width: $doc_sidebar-largura--smallscreen;
		}

		&.open {
			.doc-principal {
				right: $doc_sidebar-largura--smallscreen;
			}
		}
	}

	&.no-sidebar {
		.doc-principal {
			justify-content: center;
		}
	}
}

.doc-principal {
	overflow: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	right: 0;
	min-width: 1260px;
	width: 100%;
	height: calc(100vh - #{$header-altura});
	margin: 0 auto;
	transition: all 300ms ease-in-out;
}

.doc-menu {
	float: left;
	width: 260px;
	padding: 40px;

	ol {
		list-style: none;
		padding-left: 30px;
	}

	&-item,
	&-titulo {
		line-height: 1.2;
		margin: 15px 0;
		text-align: left;
		font-family: $font-family-padrao;
		font-size: 13px;
		color: rgba( $doc_menu-bg-color, .5 );
		
		a {
			color: rgba( $doc_menu-bg-color, .5 );
			transition: .25s;
		}
		
		&.atual,
		&:hover {
			color: #27deac;

			> a {
				color: #27deac;
			}

			.marcador {
				background-color: #27deac;
			}
		}
	}

	&-titulo {
		font-size: 20px;
	}

	&-item {
		position: relative;

		.marcador {
			display: inline-block;
			position: absolute;
			left: -25px;
    		top: 3px;
			width: 10px;
			height: 10px;
			border-radius: 100%;
			background: rgba( $doc_menu-bg-color, .5 );

			&:before {
				content: '';
				display: inline-block;
				position: absolute;
				bottom: 100%;
				left: 50%;
				width: 1px;
				height: 20px;
				background: rgba( $doc_menu-bg-color, .5 );
				transform: translateX(-50%);
			}
		}
	}

	.doc-submenu {
		padding-left: 15px;

		.doc-menu-item {
			&:before {
				display: none;
			}
		}
	}
}

.doc-pagina {
	float: left;
	width: $doc_pagina-largura;
	height: 1348px;
	background: #f9f9f9 url(../img/doc/brasao-republica.png) center no-repeat;

	&.capa,
	&.folha-rosto,
	&.sumario {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 1010px;
		padding: 74px 110px;
	}

	&.capa {
		.item {
			padding: 12px 0;
			line-height: 1.22;
			text-align: left;
			font-size: 18px;
			border-bottom: 1px solid #d8d8d8;

			&-nome {
				color: #544364
			}

			&-valor {
				color: #7ea1f3
			}

			&.duas-colunas {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				padding: 35px 0;

				.item-col {
					font-size: 13px;

					.item-nome {
						display: block;
					}
				}
			}

			&.centralizado {
				max-width: 70%;
				margin: 0 auto;
				text-align: center;
				font-size: 13px;
				border: none;

				.item-nome {
					display: block;
					margin: 20px auto 10px;
				}
				
				.item-valor {
					color: #a6a6c4;
				}
			}
		}
	}

	&.folha-rosto {
		.conteudo-wrapper {
			margin-bottom: 10%;

			.titulo {
				width: 380px;
				margin: 0 auto 40px;
				padding: 45px 0;
				text-align: center;
				font-size: 32px;
				color: #544364;
				border-bottom: 1px solid #d8d8d8;
			}

			.data {
				text-align: center;
				font-size: 16px;
				color: #7ea1f3;
			}
		}
	}

	&.sumario {
		.titulo {
			margin-bottom: 40px;
			text-align: left;
			font-size: 48px;
			color: #7ea1f3;
		}

		.sumario-itens {
			.item {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				line-height: 22px;
				margin: 15px 0;
				text-transform: uppercase;
				font-size: 18px;

				.nome {
					color: #544364;
				}

				.espacador {
					flex-grow: 1;
					align-self: flex-end;
					height: 1px;
					background-color: #a6a6c4;
				}

				.pagina {
					color: #7ea1f3;
				}
			}
		}
	}

	&.consulta-receita-federal {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		max-height: 1345px;
		margin: 32px 0;
		padding: 30px 50px;
		background-image: url(../img/doc/brasao-republica-transparencia.png);

		.doc-row {
			display: flex;
			flex-direction: row;
		}

		.doc-header {
			padding-bottom: 32px;
			border-bottom: 1px solid #d8d8d8;

			.doc-titulo {
				flex-grow: 1;
				font-size: 36px;
				line-height: 1.19;
				font-weight: 300;
				color: #a6a6c4;
			}

			.doc-status {
				display: flex;
				justify-content: space-around;
				width: 200px;
		
				.icon {
					font-size: 32px;
					color: #27deac;
				}
		
				.descricao {
					padding-left: 10px;
					font-size: 12px;
				}
			}

			.aviso-grau-risco {
				display: inline-block;
				margin-top: 12px;
				padding: 8px 30px;
				color: #fff;
				border-radius: 4px;
				background: #8399f5;
				background: -moz-linear-gradient(top, #8399f5 0%, #7aa9f1 100%);
				background: -webkit-linear-gradient(top, #8399f5 0%,#7aa9f1 100%);
				background: linear-gradient(to bottom, #8399f5 0%,#7aa9f1 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8399f5', endColorstr='#7aa9f1',GradientType=0 );
			}

		}

		.doc-bloco {
			&-titulo {
				margin: 35px 0 15px;
				line-height: 1.22;
				font-size: 18px;
				color: #544364;
			}

			&-subtitulo {
				margin-bottom: 15px;
				line-height: 1.22;
				font-size: 18px;
				font-weight: 600;
				color: #7ea1f3;
			}

			&-tabela {
				margin-top: 35px;
				font-size: 13px;

				th {
					padding-bottom: 15px;
					text-align: left;
					font-weight: bold;
					color: #544364;
				}

				td {
					vertical-align: top;
					line-height: 1.25;
					padding: 20px 0;
					text-align: left;
					border-top: 1px solid #d8d8d8;

					&:nth-child(1) {
						width: 140px;
						color: #7ea1f3;
					}

					&:nth-child(2) {
						width: 240px;
						color: #7ea1f3;
					}
				}
			}

			&-detalhes {
				display: flex;
				flex-direction: column;

				.detalhes-row {
					display: flex;
					flex-direction: row;
					padding: 15px 0;
					font-size: 13px;

					.detalhes-titulo {
						flex: 0 0 15%;
						line-height: 1.25;
						font-weight: bold;
						color: #544364;
					}

					.detalhes-descricao {
						line-height: 1.25;
						color: #a6a6c4;
					}

					&:first-child {
						.detalhes-descricao {
							color: #7ea1f3;
						}
					}

					&.duas-colunas {
						.detalhes-col {
							&:first-child {
								flex: 0 0 20%;
								border-right: 1px solid #d8d8d8;

								.detalhes-descricao {
									font-size: 18px;
									color: #544364;
								}
							}

							&:nth-child(2) {
								padding-left: 45px;
							}
						}
					}
				}
			}

			&:last-child {
				margin-top: 70px;
			}
		}

		&.template-2 {
			.doc-bloco {
	
				&-detalhes {
					display: flex;
					flex-direction: column;
	
					.detalhes-row {
						display: flex;
						flex-direction: row;
						padding: 15px 0;
						font-size: 13px;
	
						.detalhes-titulo {
							flex: 0 0 15%;
							line-height: 1.25;
							font-weight: bold;
							color: #544364;
						}
	
						.detalhes-destaque {
							line-height: 1.25;
							font-weight: bold;
							color: #7ea1f3;
						}
	
						.detalhes-descricao {
							line-height: 1.25;
							color: #a6a6c4;
						}
	
						&.tres-colunas {
							.detalhes-col {
								display: flex;
								flex-direction: column;
								justify-content: center;

								&:nth-child(1) {
									flex: 0 0 15%;
								}
								&:nth-child(2) {
									flex: 0 0 25%;
								}

								&:nth-child(3) {
									flex: 0 0 60%;

									> div {
										padding: 5px 40px;
										border-left: 1px solid #d8d8d8;
									}
								}
							}
						}
					}

					&.com-borda {
						.detalhes-row {
							border-top: 1px solid #d8d8d8;
						}
					}

					&.duas-colunas {
						display: flex;
						flex-direction: row;

						.doc-bloco-col {
							display: flex;
							flex-direction: column;

							&:first-child {
								flex: 0 0 55%;
								padding-right: 40px;

								.detalhes-titulo {
									flex: 0 0 30%;
								}
							}

							&:last-child {
								padding: 5px 40px;
								border-left: 1px solid #d8d8d8;

								.detalhes-row {
									display: block;
								}

								.detalhes-titulo {
									display: block;
									width: 100%;
								}
							}
						}
					}
				}
	
				&:last-child {
					margin-top: 70px;
				}

				&-destaque {
					display: flex;
					margin: 15px 0 80px;
					padding: 20px 30px;
					color: #fff;
					border-radius: 4px;
					background: #8399f5;
					background: -moz-linear-gradient(top, #8399f5 0%, #7aa9f1 100%);
					background: -webkit-linear-gradient(top, #8399f5 0%,#7aa9f1 100%);
					background: linear-gradient(to bottom, #8399f5 0%,#7aa9f1 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8399f5', endColorstr='#7aa9f1',GradientType=0 );

					div:first-child {
						flex: 0 0 15%;
						font-size: 18px;
					}
				}
			}
		}

		&.dashboard {
			padding: 0;
			background-image: none;
			
			.conteudo-wrapper {
				padding: 30px 50px;
			}

			.doc-header {
				margin-bottom: 30px;
			}
			
			.doc-bloco {

				&.duas-colunas {
					display: flex;

					.doc-bloco-col {

						&:nth-child(1) {
							flex: 0 0 45%;
							padding-right: 15px;
						}

						&:nth-child(2) {
							flex: 0 0 55%;
							padding-left: 15px;
						}
					}
				}
			}

			.box-resumo {
				.header {
					margin: -13px;
					color: #fff;
					padding: 15px; 
					border-radius: 25px 5px 5px 5px;   
					font-size: 16px;  
					position: relative;
					&.small-header {
						padding: 7px;
						border-radius: 15px 5px 5px 5px;  
						.icone {
							float: right;
						}          
					}  
				}

				.content-area {
					.box-notificacoes {
						justify-content: flex-start;

						~ .box-notificacoes {
							margin-top: 25px;
						}

						a {
							display: flex;
							justify-content: space-between;
							width: 100%;
						}
					}
				}
			}

			.box-regua-risco {
				display: flex;
				align-items: center;
				margin: 35px 0 15px;
				padding: 40px 30px;
				background-color: #ffffff;
				border: solid 1px #ececec;
				border-radius: 5px;

				.titulo {
					flex: 0 0 22%;
					text-align: left;
					font-size: 18px;
					color: #544364;
				}

				.regua-wrapper {
					.slider-container {
						.back-bar {
							height: 8px;
							border-radius: 42px;
							background-image: -webkit-gradient(linear, right top, left top, from(#5fe2a0), color-stop(56%, #72bbcf), to(#819df4));
							background-image: -webkit-linear-gradient(right, #5fe2a0, #72bbcf 56%, #819df4);
							background-image: -o-linear-gradient(right, #5fe2a0, #72bbcf 56%, #819df4);
							background-image: linear-gradient(to left, #5fe2a0, #72bbcf 56%, #819df4);

							.selected-bar {
								background: transparent;
							}

							.pointer {
								width: 6px;
								height: 22px;
								border-radius: 2px;
								border: solid 1px #e8eaf1;
								background-color: #ffffff;
								-webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        						box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
							}
						}

						.scale {
							top: 15px;

							span {
								border: none;

								ins {
									font-size: 12px;
									color: #a6a6c4;
								}
							}
						}
					}
				}
			}

			.box-conclusao {
				.titulo {
					margin-bottom: 15px;
					text-align: left;
					font-size: 18px;
					color: #544364;
				}

				.texto {
					text-align: left;
					line-height: 1.33;
					font-size: 12px;
					color: #a6a6c4;
				}
			}

			.workflow {
				display: flex;
				flex-direction: column;

				.titulo {
					margin-bottom: 15px;
					text-align: left;
					font-size: 13px;
					color: #544364;
				}

				.conteudo {
					display: flex;

					.marcacao {
						flex: 0 0 10%;
						position: relative;
						padding: 10px 0;

						.linha {
							width: 1px;
							height: 100%;
							margin: 0 auto;
							background: #e6e6e6;
						}

						.marcador {
							position: absolute;
							top: 0;
							left: 50%;
							font-size: 30px;
							color: #27deac;
							transform: translateX(-50%);
						}
					}

					.lista-itens {
						display: flex;
						flex: 1 0 auto;
						flex-direction: column;

						.item {
							border: solid 1px #e9e9e9;
							border-radius: 4px;

							~ .item {
								margin-top: 12px;
							}

							.header {
								display: flex;
								justify-content: space-between;
								align-items: center;
								padding: 10px 20px;
								background-color: #f4f4f4;

								.departamento {
									padding-left: 10px;
								}
							}

							.body {
								display: flex;
								justify-content: space-between;
								align-items: center;
								padding: 10px 20px;
							}
						}
					}
				}
			}

			.box-inserir-conclusao {
				margin-top: 15px;
				padding: 15px 50px 20px;
				color: #fff;
				background-image: -webkit-linear-gradient(350deg, #8399f5, #7aa9f1);
				background-image: -o-linear-gradient(350deg, #8399f5, #7aa9f1);
				background-image: linear-gradient(100deg, #8399f5, #7aa9f1);
				box-shadow: 0 3px 9px 0 rgba(191, 201, 242, 0.04);

				.titulo {
					margin-bottom: 10px;
					font-size: 18px;
				}

				.caixa-texto {
					background: #fff;

					textarea {
						background: #fff;
						border: none;
						resize: none;
					}

					.btn-wrapper {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}
	}
}

.bloco-relevante {
	position: relative;

	span {
		background: lighten(#a6a6c4, 20%);
	}

	.btn-bloco-relevante {
		position: absolute;
		right: 80px;
		bottom: -4px;
		width: 55px;
		height: 55px;
		text-align: center;
		font-size: 32px;
		font-weight: 900;
		color: #fff;
		background: #8399f5;
		background: -moz-linear-gradient(top, #8399f5 0%, #7aa9f1 100%);
		background: -webkit-linear-gradient(top, #8399f5 0%,#7aa9f1 100%);
		background: linear-gradient(to bottom, #8399f5 0%,#7aa9f1 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8399f5', endColorstr='#7aa9f1',GradientType=0 );
		border: none;
		border-radius: 100%;
		box-shadow: 0 3px 6px 0 rgba(126, 162, 243, 0.43);
		cursor: pointer;

		&:hover {
			background-color: lighten(#8399f5, 5%);
		}
	}

	.menu-bloco-relevante {
		display: none;
		z-index: 2;
		position: absolute;
		top: 0;
		right: 150px;
		text-align: right;

		.btn {
			display: inline-block;
			position: relative;
			width: 38px;
			height: 38px;
			margin-right: 5px;
			color: #fff;
			background-color: #8399f5;
			border: none;
			border-radius: 100%;
			transition: .25s;
			cursor: pointer;

			&:hover {
				background-color: lighten(#8399f5, 5%);
			}

			&.btn-fechar {
				background: #66687e;

				&:hover {
					background-color: lighten(#66687e, 20%);
				}
			}
		}

		&-opcoes {
			white-space: nowrap;
			margin: 10px 0;
			padding: 10px 15px;
			background: #8399f5;
			background: -moz-linear-gradient(top, #8399f5 0%, #7aa9f1 100%);
			background: -webkit-linear-gradient(top, #8399f5 0%,#7aa9f1 100%);
			background: linear-gradient(to bottom, #8399f5 0%,#7aa9f1 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8399f5', endColorstr='#7aa9f1',GradientType=0 );
			border-radius: 30px;
			-webkit-box-shadow: 0 6px 7px 0 rgba(7, 27, 36, 0.12);
			-moz-box-shadow: 0 6px 7px 0 rgba(7, 27, 36, 0.12);
			box-shadow: 0 6px 7px 0 rgba(7, 27, 36, 0.12);

			.btn-opcoes {
				padding: 4px 15px;
				text-transform: uppercase;
				color: #fff;
				background: transparent;
				border: none;

				&:hover {
					background: rgba( #fff, .05 );
				}
			}
		}

		&.open {
			display: block;
		}
	}
}

.sidebar-menu {
	float: left;
	width: 150px;
	margin: 40px auto 0 54px;

	.btn {
		display: block;
		position: relative;
		width: 38px;
		height: 38px;
		background-color: #66687e;
		border: none;
		border-radius: 100%;
		transition: .25s;
		cursor: pointer;

		~ .btn {
			margin-top: 10px;
		}

		&.btn-fechar {
			display: none;
			margin-bottom: 40px;
			color: #fff;
			background-color: #66687e;
		}

		&.atual {
			background: #8399f5;
			background: -moz-linear-gradient(top, #8399f5 0%, #7aa9f1 100%);
			background: -webkit-linear-gradient(top, #8399f5 0%,#7aa9f1 100%);
			background: linear-gradient(to bottom, #8399f5 0%,#7aa9f1 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8399f5', endColorstr='#7aa9f1',GradientType=0 );
		}

		&:hover {
			background-color: lighten(#66687e, 20%);
		}
	}
}

.doc-sidebar {
	overflow: auto;
	display: none;
	position: fixed;
	top: $header-altura;
	right: $doc_sidebar-largura * -1;
	width: $doc_sidebar-largura;
	height: 100%;
	padding: 40px 60px;
	transition: all 300ms ease-in-out;

	.doc-sidebar-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		margin-bottom: 70px;
		padding: 30px 0 20px;
		color: #fff;

		&:after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 1px;
			background: #5a6172;
		}

		h2 {
			margin: 0;
			padding: 0;
			text-transform: uppercase;
			font-size: 40px;
			font-weight: 400;

			span {
				line-height: 1.17;
				font-size: 12px;
				font-weight: normal;
				color: #7da4f2;
			}
		}
	}

	.content-inner {
		margin-bottom: 40px;
		padding: 30px;
		background: #fff;
		border-radius: 5px;
	}

	&.info-sidebar {

		.content-inner {
			margin-bottom: 40px;
			padding: 0;
			background: transparent;
			border-radius: 0;

			.dados-row {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 10px 0;
	
				.titulo {
					font-size: 16px;
					color: #7ea1f3;
				}
	
				.valor {
					font-size: 13px;
					color: #fff;
	
					a {
						color: #188feb;
					}
				}
			}

			.subtitulo {
				display: block;
				position: relative;
				margin-bottom: 45px;
				padding: 80px 0 45px;
				font-size: 18px;
				font-weight: normal;
				color: #fff;
				border-bottom: 1px solid #707070;
			}

			.preview {
				width: 100%;
				height: 600px;
				padding: 60px 70px;
				text-align: center;
				border-radius: 5px;
				-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
				-moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
				background-color: #3c404d;
			}
		}
	}

	&.monitoria-sidebar {
		.content-inner {

			.item {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				padding: 12px 14px;
				background: #f4f4f4;
				border-radius: 4px;

				~ .item {
					margin-top: 8px;
				}

				.checkbox-container {
					margin: 0;
					padding: 0;
					color: #a6a6c4;
					background: transparent;
				}
			}

			&.lista-monitoria-vazia {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 60px 40px;
				font-size: 18px;
				color: #544364;
			}

			&.lista-monitoria {
				display: none;
			}
		}
	}

	&.trechos-sidebar {
		.item {
			display: flex;
			justify-content: space-between;
			align-items: stretch;
			width: 100%;
			padding: 20px 14px;
			border-bottom: 1px solid #f1f1f1;

			~ .item {
				margin-top: 8px;
			}

			&:last-child {
				border: none;
			}

			.dados,
			.acoes {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}

			.dados {
				.trecho {
					margin-bottom: 15px;
					
					.subtitulo {
						margin-bottom: 5px;
						line-height: 1.21;
						text-transform: uppercase;
						font-size: 24px;
						font-weight: normal;
						color: #a6a6c4;
					}
	
					.codigo {
						line-height: 1.23;
						font-size: 13px;
						font-weight: 600;
						color: #544364;
					}
				}

				.autor {

					.usuario {
						margin-bottom: 5px;
						font-size: 13px;
						color: #a6a6c4;
					}
				}

			}

			.acoes {
				.ls-btn {
					~ .ls-btn {
						margin: 8px 0 0;
					}
				}
			}
		}
	}

	&.filtro-sidebar {
		.content-inner {
			.form-subtitulo {
				margin: 30px 0 15px;
			}

			.checkbox-container {
				margin-bottom: 10px;
				padding: 5px 0;
				background: none;
			}
		}
	}

	&.comentarios-sidebar {
		.item {
			border-radius: 5px;
			border: solid 1px #f1f1f1;

			~ .item {
				margin-top: 20px;
			}

			.timeline {
				display: flex;
				align-items: center;
				padding: 30px;

				.texto-destaque {
					padding-right: 30px;
				}

				.linha {
					flex: 1 1 auto;
					position: relative;
					height: 2px;
					border-radius: 42px;
					background-color: #e6e6e6;

					.marcador {
						position: absolute;
						top: 0;
						left: 10%;
						width: 3px;
						height: 15px;
						border-radius: 6px;
						background: #8399f5;
						background: -moz-linear-gradient(top, #8399f5 0%, #7aa9f1 100%);
						background: -webkit-linear-gradient(top, #8399f5 0%,#7aa9f1 100%);
						background: linear-gradient(to bottom, #8399f5 0%,#7aa9f1 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8399f5', endColorstr='#7aa9f1',GradientType=0 );
						transform: translateY(-50%);
					}
				}
			}

			.comentario {
				padding: 20px 30px;
				font-size: 13px;
				color: #a6a6c4;
				background-color: #f4f4f4;

				.titulo {
					display: inline-block;
					margin-bottom: 8px;
					font-weight: normal;
					color: #7ea1f3;
				}
			}
		}

		.chat {
			max-width: 600px;
			margin: 0 auto;

			.msg-wrapper {
				overflow: auto;
				height: 400px;
				padding-right: 15px;

				.msg-inner {
					display: flex;
					flex-direction: column;
				}

				.msg {
					display: flex;
					align-items: center;

					~ .msg {
						margin-top: 20px;
					}

					&.recebida {
						align-self: flex-start;

						.avatar {
							display: inline-block;
							width: 32px;
							height: 32px;
							border-radius: 100%;
						}

						.msg-body {
							display: flex;
							flex-direction: column;
							margin-left: 10px;

							.nome {
								display: inline-block;
								margin-bottom: 5px;
								font-weight: bold;
								color: #a6a6c4;
							}

							.texto {
								padding: 10px 20px;
								text-align: left;
								color: #fff;
								background: #7aa9f1;
								border-radius: 0px 20px 8px 18px;
							}
						}
					}

					&.enviada {
						align-self: flex-end;
						padding: 10px 20px;
						text-align: right;
						color: #fff;
						background: #5a6172;
						border-radius: 8px 20px 0px 18px;
					}
				}
			}

			.caixa-texto {

				.btn-wrapper {
					display: flex;
					flex-direction: column;
					justify-content: center;

					.ls-btn {
						margin: 0;
						padding-right: 30px;
						padding-left: 30px;
					}
				}
			}
		}
	}
}

.menu-impressao-wrapper {
	position: relative;
	margin-top: 10px;

	.impressora-menu {
		display: none;
		white-space: nowrap;
		z-index: 2;
		position: absolute;
		top: 0;
		right: calc( 100% + 10px );
		padding: 10px 15px;
		background: #8399f5;
		background: -moz-linear-gradient(top, #8399f5 0%, #7aa9f1 100%);
		background: -webkit-linear-gradient(top, #8399f5 0%,#7aa9f1 100%);
		background: linear-gradient(to bottom, #8399f5 0%,#7aa9f1 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8399f5', endColorstr='#7aa9f1',GradientType=0 );
		border-radius: 30px;
		-webkit-box-shadow: 0 6px 7px 0 rgba(7, 27, 36, 0.12);
		-moz-box-shadow: 0 6px 7px 0 rgba(7, 27, 36, 0.12);
		box-shadow: 0 6px 7px 0 rgba(7, 27, 36, 0.12);

		.checkbox-container,
		button {
			display: inline-block;
			vertical-align: middle;
		}

		.checkbox-container {
			margin: 0;
			padding: 3px 5px;
			color: #fff;
			background: transparent;

			&.pretty.p-tada:not(.p-default) input:checked + .state .icon {
				color: #fff;
			}
		}

		button {
			margin-left: 15px;
			padding: 2px 10px;
			background: transparent;
			border: none;
			cursor: pointer;
		}
	}
}

.modal-adicionar-monitoria {
	.ls-label-text {
		margin-right: 15px;
		font-size: 16px;
		color: #a6a6c4;
	}
	
	.nice-number {
		position: relative;
		width: 65px;
		height: 40px;
		background-color: #ffffff;
		border: solid 1px #e2e2e2;
		border-radius: 3px;

		input {
			color: #7ea1f3;
			border: none;
		}

		button {
			display: block;
			position: absolute;
			right: 0;
			width: 24px;
			height: 20px;
			color: #7ea1f3;
			background-color: #ffffff;
			border: solid 1px #e2e2e2;

			&:first-of-type {
				bottom: 0;
			}

			&:last-child {
				top: 0;
			}
		}
	}
}

.ls-topbar.monitoria {
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	border-bottom: 1px solid #ebebeb;

	.monitoria-caminho {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 35px;
		font-size: 16px;
		color: #a6a6c4;

		.ls-breadcrumb {
			margin: 0;

			li {
				min-width: 120px;

				&:first-child {
					text-align: right;
					color: #a6a6c4;
				}

				&:last-child {
					min-width: 180px;
				}

				.select2-container {

					.select2-selection {
						border: none;

						span {
							padding: 0;
							color: #8399f5;
						}

						.select2-selection__arrow {
							top: 6px;
							right: 30px;
						}
					}
				}
			}
		}
	}

	.acoes {
		display: flex;

		.acao-item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;
			min-width: 98px;
			font-size: 24px;
			color: #7ea0f3;
			border-left: 1px solid #ebebeb;
			cursor: pointer;

			&:hover,
			&.ativo {
				color: #0056b3;
			}

			&.acao-btn {
				padding: 0 35px;
				border: none;
			}

			&.paginacao {
				flex-direction: row;
				padding: 0 25px;

				span {
					display: inline-block;
					font-size: 18px;
					color: #ababbe;

					&.pag-atual {
						margin-right: 4px;
						padding: 0 5px;
						background-color: #f6f6f6;
						border: solid 1px #ebebeb;
						border-radius: 2px;
					}
				}
			}
		}
	}

	.menu-busca {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		width: 300px;
		padding: 15px;    
		background: #fff;
		box-shadow: 0 3px 5px rgba(0,0,0, 0.3);
		border-radius: 0 0 4px 4px;

		.select2-container {
			margin-bottom: 15px;
		}

		.ls-btn {
			margin-top: 15px;
		}
	}
}

.estrutura-wrapper {
	position: relative;
	width: 90%;
	height: auto;
	margin: 100px auto;

	.estrutura-item {
		white-space: nowrap;
		display: flex;
		flex-direction: column;
		position: absolute;
		left: 50%;
		width: 230px;
		padding: 30px 45px;
		text-align: center;
		color: #fff;
		background-color: #353b4d;
		border-radius: 4px;

		.tipo {
			text-transform: uppercase;
		}

		.autor {
			font-weight: bold;
		}

		&.titulo {
			top: 0;
			padding: 20px;
			transform: translateX(-50%);
		}

		&.selecionado {
			top: 130px;
			transform: translateX(-50%);
			background: #fff;

			.tipo {
				color: #a6a6c4;
			}
	
			.autor {
				color: #544364;
			}

			.cpf {
				color: #7ea1f3;
			}

			.link-mapa {
				position: absolute;
				right: -8px;
				bottom: 5px;
				width: 46px;
				height: 46px;
				line-height: 2.2;
				text-align: center;
				font-size: 20px;
				font-weight: 900;
				color: #fff;
				box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
				background-color: #27deac;
				border-radius: 100%;
				cursor: pointer;
		
				&:hover {
					background-color: lighten(#27deac, 5%);
				}
			}
		}

		&.relacionado {
			&-1 {
				top: 130px;
				transform: translateX(-220%);
			}

			&-2 {
				top: 130px;
				transform: translateX(120%);
			}
			
			&-3 {
				top: 350px;
				transform: translateX(-220%);
			}
			
			&-4 {
				top: 350px;
				transform: translateX(-50%);
			}
			
			&-5 {
				top: 640px;
				transform: translateX(-120%);
			}
			
			&-6 {
				top: 640px;
				transform: translateX(20%);
			}
		}

		.ligacao {
			display: block;
			position: absolute;
			background: #383c48;

			&.cima, {
				bottom: 100%;
				left: 50%;
				width: 1px;
				height: 100px;
				transform: translateX(-50%);
			}

			&.baixo, {
				top: 100%;
				left: 50%;
				width: 1px;
				height: 100px;
				transform: translateX(-50%);
			}

			&.direita, {
				top: 50%;
				left: 100%;
				width: 165px;
				height: 1px;
				transform: translateY(-50%);
			}

			&.esquerda, {
				top: 50%;
				right: 100%;
				width: 165px;
				height: 1px;
				transform: translateY(-50%);
			}

			.divisor {
				display: block;
				position: absolute;
				bottom: 0;
				left: 50%;
				width: 320px;
				height: 1px;
				background: #383c48;
				transform: translateX(-50%);

				&:before,
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 100%;
					width: 1px;
					height: 80px;
					background: #383c48;
				}

				&:before {
					left: 0;
				}

				&:after {
					right: 0;
				}
			}
		}
	}
}