$header-altura: 60px;

.ls-main.mapa {
	height: auto;
	margin: 0;
	padding: $header-altura 0 0;
}

.mapa-wrapper {
	position: relative;
	min-width: 1260px;
	max-width: 100%;
	min-height: 840px;
	height: calc( 100vh - #{$header-altura} );
	background: rgba(0,0,0, .7);

	.item-mapa {
		position: absolute;
		top: 250px;
		left: 40px;

		&-inner {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 430px;
			height: 430px;
			text-align: center;
			background-color: #1c1f27;
			border-radius: 100%;
	
			.avatar {
				width: 140px;
				height: 140px;
				border-radius: 100%;
			}
	
			.dados {
				position: absolute;
				top: 300px;
				left: 50%;
				font-size: 16px;
				transform: translateX(-50%);
	
				.nome {
					color: #7ea1f2;
				}
	
				.documento {
					color: #ffffff;
				}
			}
	
			.btn {
				position: absolute;
				top: 235px;
				left: 240px;
				width: 46px;
				height: 46px;
				color: #fff;
				background-color: #27deac;
				box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
				border-radius: 100%;
				cursor: pointer;
		
				&:hover {
					background-color: lighten(#27deac, 5%);
				}
			}
	
			.fonte {
				box-sizing: content-box;
				display: flex;
				flex-direction: column;
				justify-content: center;
				z-index: 1;
				position: absolute;
				top: -35px;
				left: 50px;
				width: 96px;
				height: 96px;
				text-align: center;
				font-size: 16px;
				color: #fff;
				background-color: #79a2f8;
				border-radius: 100%;
				border: 18px solid #242733;

				&.fonte-1 {
					display: none;
				}
			}
		}
		
		&.item-relatorios {
			display: none;
			top: 325px;
			left: 700px;
		}
	}

	.menu-agrupamentos {
		display: none;
		z-index: 1;
		position: absolute;
		top: 235px;
		left: 300px;
		width: 300px;
		padding: 0;
		background-color: #f9f9f9;
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);

		.etapa-1 { display: none; }
		.etapa-2 {
			display: block;

			header {
				cursor: pointer;
			}
		}

		header {
			position: relative;
			padding: 20px 15px;
			text-align: left;
			font-size: 16px;
			color: #544364;
			background: #fff;
			border: 1px solid #ececec;

			span {
				&:before {
					margin-right: 10px;
					color: #7aa9f1;
				}
			}

			&:after {
				content: " ";
				right: 100%;
				top: 50%;
				height: 0;
				width: 0;
				margin-top: -10px;
				position: absolute;
				border: solid transparent;
				border-color: rgba(136, 183, 213, 0);
				border-right-color: #ececec;
				border-width: 10px;
				pointer-events: none;
			}
		}

		.item-line {
			width: 95%;
			margin: 10px auto;
			color: #a6a6c4;
			background-color: #ffffff;
			border: 1px solid #f1f1f1;
			border-radius: 3px;
			cursor: pointer;
			transition: .25s;

			&:hover {
				background: lighten(#7aa9f1, 25%);
			}
		}
	}

	.menu-empresa {
		display: none;
		z-index: 2;
		position: absolute;
		top: 80px;
		left: 600px;
		width: 610px;

		header {
			display: flex;
			justify-content: space-between;
			position: relative;
			padding: 50px 40px 50px 140px;
			background-color: rgba( #242833, .8 );
			border: 1px solid rgba(15, 15, 15, 0.35);
			border-top-left-radius: 120px;
			border-top-right-radius: 10px;

			.icon-fonte {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 0;
				left: 0;
				width: 120px;
				height: 120px;
				text-align: center;
				font-size: 16px;
				color: #fff;
				background-color: #79a2f8;
				border-radius: 100%;
			
				.btn {
					position: absolute;
					right: 0px;
					bottom: 0px;
					width: 46px;
					height: 46px;
					color: #fff;
					background-color: #27deac;
					border-radius: 100%;
					box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
					cursor: pointer;
			
					&:hover {
						background-color: lighten(#27deac, 5%);
					}					
				}

				.linha-ligacao {
					display: block;
					position: absolute;
					top: -110px;
					left: -175px;
					width: 2px;
					height: 440px;
					background: #79a2f8;
					transform: rotate(75deg);

					&:after {
						content: '';
						display: block;
						position: absolute;
						bottom: -7px;
						left: -7px;
						width: 14px;
						height: 14px;
						background: #79a2f8;
						border-radius: 100%;
					}
				}
			}

			.dados {
				display: flex;
				flex-direction: column;
				font-size: 18px;
				text-align: center;
				color: #ffffff;
			}
		}

		.menu-body {
			padding: 20px 30px;
			background-color: rgba( #1c1f27, .8 );
			border: 1px solid rgba(15, 15, 15, 0.35);

			table {
				margin: 0;
				background: none;

				thead {
					th {
						padding-bottom: 0;
					}
				}

				tbody{
					tr {
						background-color: #2f3343;
						border: solid 1px #3b3e48;
						border-radius: 5px;

						.user-data {
							background: none;
						}

						.participacao {
							font-size: 18px;
							color: #27deac;
						}
					}
				}
			}
		}
	}

	.menu-empresa-detalhes {
		display: none;
		z-index: 3;
		position: absolute;
		top: 80px;
		left: 400px;
		width: 560px;
		background-color: #ffffff;
		border: 1px solid #ececec;
		border-radius: 6px;

		header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 20px 25px;

			.nome {
				font-size: 18px;
				color: #544364;
			}

			.acoes {
				display: flex;
				align-items: center;

				.fechar-menu {
					padding-left: 15px;
					font-size: 26px;
				}
			}
		}

		.menu-body {
			.ls-tabs-nav {
				border-top: 1px solid #ececec;

				li {
					margin: 0;
					border-right: 1px solid #ececec;

					&:after {
						display: none;
					}

					&:last-child {
						border-right: none;
					}

					&.ls-active {
						background: #79a2f8;

						a {
							color: #fff;
						}
					}

					a {
						padding-top: 15px;
						padding-bottom: 15px;
						font-size: 20px;
					}
				}
			}

			.lista-dados {
				padding: 0 25px 30px;
				&-item {
					display: flex;
					justify-content: space-between;
					padding: 5px 0;
					text-transform: uppercase;
					font-weight: 13px;

					.titulo {
						color: #7ea1f3;
					}

					.valor {
						color: #a6a6c4;
					}
				}
			}

			.lista-antigos-proprietarios {

				header {
					padding: 25px;
					font-size: 16px;
					color: #a6a6c4;
					border-top: 1px solid #e2e2e2;
					border-bottom: 1px solid #e2e2e2;
				}

				.lista-body {
					padding: 15px;
					background: #f9f9f9;

					.lista-item {
						display: flex;
						justify-content: space-between;
						padding: 15px;
						background-color: #ffffff;
						border: solid 1px #f1f1f1;
						border-radius: 3px;

						~ .lista-item {
							margin-top: 8px;
						}
					}
				}
			}
		}
	}
}

.ls-topbar.mapa {
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	border-bottom: 1px solid #ebebeb;

	.mapa-caminho {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 35px;
		font-size: 16px;
		color: #a6a6c4;

		.ls-breadcrumb {
			margin: 0;

			li {

				&:first-child {
					color: #a6a6c4;
				}
			}
		}
	}

	.acoes {
		display: flex;

		.acao-item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;
			min-width: 98px;
			font-size: 24px;
			color: #7ea0f3;
			border-left: 1px solid #ebebeb;
			cursor: pointer;

			&:hover,
			&.ativo {
				color: #0056b3;
			}

			&.acao-btn {
				padding: 0 35px;
			}

			&.zoom {
				flex-direction: row;

				a {
					padding: 0 10px;
				}
			}
		}
	}
}