@charset "UTF-8";
@import url(../fonts/SegoeUI/stylesheet.css);
@import url(../fonts/icones-novavida/css/nova-vida-icones.css);
@import url(../fonts/icomoon-novavida/style.css);
@import url(../../vendors/bootstrap/bootstrap-grid.min.css);
@import url(../../vendors/featherlight-1.7.13/featherlight.css);
@import url(../../vendors/pretty-checkbox/pretty-checkbox.min.css);
@import url(../../vendors/dropzone/dropzone.css);
@import url(../../vendors/jquery-ui-1.12.1.custom/jquery-ui.min.css);
/*Estrutura*/
/*Textos*/
/*Links*/
/*Tabs*/
/* Botões */
.ls-main.doc {
  height: auto;
  margin: 0;
  padding-top: 60px; }

.doc-wrapper {
  position: relative;
  min-width: 1280px;
  max-width: 100%;
  height: 100%;
  background: #090e1c; }
  .doc-wrapper.open .doc-principal {
    overflow: hidden;
    right: 1000px; }
  .doc-wrapper.open .doc-sidebar {
    right: 0; }
  @media screen and (max-width: 1279px) {
    .doc-wrapper {
      min-width: 875px; }
      .doc-wrapper .doc-principal .doc-menu {
        width: 0; }
      .doc-wrapper .doc-principal .sidebar-menu {
        width: 40px; }
      .doc-wrapper .doc-sidebar {
        right: -840px;
        width: 840px; }
      .doc-wrapper.open .doc-principal {
        right: 840px; } }
  .doc-wrapper.no-sidebar .doc-principal {
    justify-content: center; }

.doc-principal {
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  right: 0;
  min-width: 1280px;
  width: 100%;
  height: calc(100vh - 60px);
  margin: 0 auto;
  transition: all 300ms ease-in-out; }

.doc-menu {
  float: left;
  width: 260px; }

.doc-pagina {
  float: left;
  width: 875px;
  height: 1348px;
  background: #f9f9f9 url(../img/doc/brasao-republica.png) center no-repeat; }
  .doc-pagina.capa {
    height: 1010px; }

.sidebar-menu {
  float: left;
  width: 150px;
  margin-right: auto; }

.doc-sidebar {
  position: fixed;
  top: 0;
  right: -1000px;
  bottom: 0;
  width: 1000px;
  height: calc(100vh - 60px);
  transition: all 300ms ease-in-out; }

.modal-popup-conteudo .botoes-acao:before, .modal-popup-conteudo .botoes-acao:after {
  display: table;
  content: "";
  width: 100%;
  clear: both;
  float: none; }

.ls-form-horizontal .ls-label[class*="col-"] {
  float: none !important; }
  .ls-form-horizontal .ls-label[class*="col-"]:focus {
    outline: none; }

body {
  font-family: "Segoe UI", sans-serif;
  font-weight: 100;
  color: #a6a6c4;
  font-size: 14px; }

p {
  margin-bottom: 0; }
  p ~ p {
    margin-top: 10px; }
  p a {
    border: none; }

.ls-sidebar .ls-sidebar-toggle {
  display: none !important; }

.ls-main {
  background-color: #f5f6fa;
  height: auto;
  padding-bottom: 30px; }

.page-header {
  padding: 29px 0 20px; }

.ls-title-intro {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  font-size: 32px;
  color: #a9b2c4;
  font-weight: 400;
  padding: 0; }

.ls-sidebar {
  background: #fff; }

html .ls-menu li {
  border: none; }
html .ls-menu a {
  color: #a6a6c4;
  font-weight: 400;
  text-transform: uppercase;
  padding: 30px 20px 30px 30px;
  transition: 0.5s; }
  html .ls-menu a:hover {
    color: #7ea1f3;
    background-color: transparent;
    padding-left: 30px; }
  html .ls-menu a:before {
    position: static;
    margin-right: 10px;
    transition: none; }
html .ls-menu .ls-menu > ul {
  padding-bottom: 0; }

/*Componentes*/
html .ls-tabs-container .ls-tab-content {
  padding: 0;
  border: none; }

html .page-title-tabs:not(.in-dropdown) {
  position: relative; }
  html .page-title-tabs:not(.in-dropdown):after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #eaeaee; }
  html .page-title-tabs:not(.in-dropdown) li {
    background: transparent;
    border: none;
    position: relative; }
    html .page-title-tabs:not(.in-dropdown) li:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: transparent;
      bottom: 0; }
    html .page-title-tabs:not(.in-dropdown) li:hover {
      background: transparent; }
      html .page-title-tabs:not(.in-dropdown) li:hover a {
        color: #7da2f2; }
    html .page-title-tabs:not(.in-dropdown) li a {
      font-size: 30px;
      color: #a9b2c4;
      padding: 15px 16px 20px; }
    html .page-title-tabs:not(.in-dropdown) li.ls-active {
      background: transparent;
      z-index: 1; }
      html .page-title-tabs:not(.in-dropdown) li.ls-active:after {
        content: "";
        display: block;
        position: absolute;
        background-color: #8399f5; }
      html .page-title-tabs:not(.in-dropdown) li.ls-active a {
        color: #7da2f2;
        padding: 15px 16px 20px; }

.ls-tabs-container .ls-tab-content {
  margin-bottom: 0; }

.ls-boxes .ls-box {
  margin-bottom: 0;
  border-radius: 0;
  position: relative;
  margin-top: -1px;
  padding: 20px; }
  .ls-boxes .ls-box:first-child {
    border-radius: 4px 4px 0 0; }
  .ls-boxes .ls-box:last-child {
    border-radius: 0 0 4px 4px; }
  .ls-boxes .ls-box:only-child {
    border-radius: 4px; }
.ls-boxes .ls-title {
  color: #544364;
  font-size: 18px; }

/*Relacionar listas*/
.relacionar-listas {
  height: 430px;
  overflow: auto;
  padding: 25px 20px; }
  .relacionar-listas .checkbox-container {
    margin-bottom: 8px; }

/**/
.ls-box .link {
  margin-left: 10px; }

.ls-breadcrumb {
  margin-bottom: 20px;
  border: none;
  font-size: 13px; }
  .ls-breadcrumb li {
    color: #8399f5;
    padding: 0 6px 0 0; }
    .ls-breadcrumb li:first-child {
      padding-left: 0; }
    .ls-breadcrumb li:last-child:after {
      content: "";
      display: block;
      position: absolute;
      display: none; }
    .ls-breadcrumb li:before {
      display: none; }
    .ls-breadcrumb li:after {
      content: "";
      display: block;
      position: absolute;
      position: relative;
      content: ">";
      color: #a9b2c4;
      float: right;
      margin-left: 5px; }
    .ls-breadcrumb li a {
      color: #a9b2c4;
      text-decoration: none; }

.ls-box .passos {
  margin-bottom: 0;
  counter-reset: contador;
  display: flex; }
  .ls-box .passos li {
    display: flex;
    align-items: center; }
    .ls-box .passos li:before {
      counter-increment: contador;
      display: inline-block;
      content: counter(contador);
      border: none;
      float: left;
      width: 38px;
      height: 38px;
      background: #eaeaee;
      border-radius: 100%;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #a6a6c4; }
    .ls-box .passos li:after {
      display: none; }

.ls-label {
  position: relative; }

.ls-label .ls-input-text,
.ls-label input[type="color"],
.ls-label input[type="date"],
.ls-label input[type="datetime"],
.ls-label input[type="datetime-local"],
.ls-label input[type="email"],
.ls-label input[type="month"],
.ls-label input[type="number"],
.ls-label input[type="password"],
.ls-label input[type="search"],
.ls-label input[type="tel"],
.ls-label input[type="text"],
.ls-label input[type="time"],
.ls-label input[type="url"],
.ls-label input[type="week"],
.ls-label textarea {
  height: 40px;
  border-radius: 3px;
  border: solid 1px #e2e2e2;
  box-shadow: none;
  font-size: 13px;
  font-weight: 100;
  font-family: "Segoe UI", sans-serif; }
  .ls-label .ls-input-text::-webkit-input-placeholder,
  .ls-label input[type="color"]::-webkit-input-placeholder,
  .ls-label input[type="date"]::-webkit-input-placeholder,
  .ls-label input[type="datetime"]::-webkit-input-placeholder,
  .ls-label input[type="datetime-local"]::-webkit-input-placeholder,
  .ls-label input[type="email"]::-webkit-input-placeholder,
  .ls-label input[type="month"]::-webkit-input-placeholder,
  .ls-label input[type="number"]::-webkit-input-placeholder,
  .ls-label input[type="password"]::-webkit-input-placeholder,
  .ls-label input[type="search"]::-webkit-input-placeholder,
  .ls-label input[type="tel"]::-webkit-input-placeholder,
  .ls-label input[type="text"]::-webkit-input-placeholder,
  .ls-label input[type="time"]::-webkit-input-placeholder,
  .ls-label input[type="url"]::-webkit-input-placeholder,
  .ls-label input[type="week"]::-webkit-input-placeholder,
  .ls-label textarea::-webkit-input-placeholder {
    color: #a6a6c4; }
  .ls-label .ls-input-text:-moz-placeholder,
  .ls-label input[type="color"]:-moz-placeholder,
  .ls-label input[type="date"]:-moz-placeholder,
  .ls-label input[type="datetime"]:-moz-placeholder,
  .ls-label input[type="datetime-local"]:-moz-placeholder,
  .ls-label input[type="email"]:-moz-placeholder,
  .ls-label input[type="month"]:-moz-placeholder,
  .ls-label input[type="number"]:-moz-placeholder,
  .ls-label input[type="password"]:-moz-placeholder,
  .ls-label input[type="search"]:-moz-placeholder,
  .ls-label input[type="tel"]:-moz-placeholder,
  .ls-label input[type="text"]:-moz-placeholder,
  .ls-label input[type="time"]:-moz-placeholder,
  .ls-label input[type="url"]:-moz-placeholder,
  .ls-label input[type="week"]:-moz-placeholder,
  .ls-label textarea:-moz-placeholder {
    color: #a6a6c4; }
  .ls-label .ls-input-text::-moz-placeholder,
  .ls-label input[type="color"]::-moz-placeholder,
  .ls-label input[type="date"]::-moz-placeholder,
  .ls-label input[type="datetime"]::-moz-placeholder,
  .ls-label input[type="datetime-local"]::-moz-placeholder,
  .ls-label input[type="email"]::-moz-placeholder,
  .ls-label input[type="month"]::-moz-placeholder,
  .ls-label input[type="number"]::-moz-placeholder,
  .ls-label input[type="password"]::-moz-placeholder,
  .ls-label input[type="search"]::-moz-placeholder,
  .ls-label input[type="tel"]::-moz-placeholder,
  .ls-label input[type="text"]::-moz-placeholder,
  .ls-label input[type="time"]::-moz-placeholder,
  .ls-label input[type="url"]::-moz-placeholder,
  .ls-label input[type="week"]::-moz-placeholder,
  .ls-label textarea::-moz-placeholder {
    color: #a6a6c4; }
  .ls-label .ls-input-text:-ms-input-placeholder,
  .ls-label input[type="color"]:-ms-input-placeholder,
  .ls-label input[type="date"]:-ms-input-placeholder,
  .ls-label input[type="datetime"]:-ms-input-placeholder,
  .ls-label input[type="datetime-local"]:-ms-input-placeholder,
  .ls-label input[type="email"]:-ms-input-placeholder,
  .ls-label input[type="month"]:-ms-input-placeholder,
  .ls-label input[type="number"]:-ms-input-placeholder,
  .ls-label input[type="password"]:-ms-input-placeholder,
  .ls-label input[type="search"]:-ms-input-placeholder,
  .ls-label input[type="tel"]:-ms-input-placeholder,
  .ls-label input[type="text"]:-ms-input-placeholder,
  .ls-label input[type="time"]:-ms-input-placeholder,
  .ls-label input[type="url"]:-ms-input-placeholder,
  .ls-label input[type="week"]:-ms-input-placeholder,
  .ls-label textarea:-ms-input-placeholder {
    color: #a6a6c4; }
  .ls-label .ls-input-text:focus,
  .ls-label input[type="color"]:focus,
  .ls-label input[type="date"]:focus,
  .ls-label input[type="datetime"]:focus,
  .ls-label input[type="datetime-local"]:focus,
  .ls-label input[type="email"]:focus,
  .ls-label input[type="month"]:focus,
  .ls-label input[type="number"]:focus,
  .ls-label input[type="password"]:focus,
  .ls-label input[type="search"]:focus,
  .ls-label input[type="tel"]:focus,
  .ls-label input[type="text"]:focus,
  .ls-label input[type="time"]:focus,
  .ls-label input[type="url"]:focus,
  .ls-label input[type="week"]:focus,
  .ls-label textarea:focus {
    outline: none; }

.ls-label textarea {
  height: 95px; }

.field-has-icon:before {
  position: absolute;
  right: 25px;
  top: 10px;
  font-size: 20px;
  pointer-events: none;
  color: #4388ff; }
.field-has-icon input {
  padding-right: 40px; }

/*Checkox*/
.checkbox-container {
  background: #fff;
  border-radius: 3px;
  display: block;
  margin-bottom: 15px;
  padding: 13px 15px;
  color: #7ea1f3;
  margin-right: 0; }
  .checkbox-container .state {
    position: relative; }
  .checkbox-container.with-avatar .state label {
    padding-left: 50px; }
  .checkbox-container.with-avatar .user-avatar {
    width: 20px;
    position: absolute;
    left: 50px;
    top: 11px;
    border-radius: 50%; }

.pretty .state label:after,
.pretty .state label:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  border: solid 1px #809cf4;
  z-index: 0;
  position: absolute;
  left: 0;
  top: calc((0% - (100% - 1em)) - 8%);
  background-color: transparent; }

.pretty .state label {
  padding-left: 10px;
  margin-top: 1px; }

.pretty input:checked ~ .state.p-primary-o label:before,
.pretty.p-toggle .state.p-primary-o label:before {
  border: solid 1px #809cf4; }

.pretty.p-tada:not(.p-default) input:checked + .state .icon {
  color: #809cf4;
  width: 20px;
  height: 20px; }

/* Checkbox Estilo Radio */
.radio-style {
  background-color: #fff;
  border: solid 1px #eeeeee;
  padding: 11px 15px;
  border-radius: 30px;
  margin-bottom: 15px; }
  .radio-style .state {
    position: relative; }
    .radio-style .state label {
      color: #a6a6c4;
      position: relative;
      font-weight: 100;
      padding-left: 5px; }
      .radio-style .state label:before {
        border-color: #87a9f3;
        background-color: #fff;
        width: 16px;
        height: 16px; }
      .radio-style .state label:after {
        left: -2px;
        top: -3px;
        border: none;
        transform: scale(0) !important;
        transition: 0.3s; }
  .radio-style.pretty.p-default input:checked ~ .state label:after {
    background: #87a9f3 !important;
    transform: scale(0.3) !important; }

/*Select*/
.ls-custom-select {
  height: 39px;
  display: block; }

[class*="ls-btn"] {
  padding: 11px 40px;
  border: none;
  font-size: 12px;
  text-transform: uppercase; }
  [class*="ls-btn"].ls-btn-sm, [class*="ls-btn"].small, [class*="ls-btn"].sm {
    padding: 7px 30px; }
  [class*="ls-btn"].ls-btn-lg, [class*="ls-btn"].large, [class*="ls-btn"].lg {
    padding: 15px 30px; }
  [class*="ls-btn"].ls-btn-primary {
    background: #27deac; }
    [class*="ls-btn"].ls-btn-primary:hover, [class*="ls-btn"].ls-btn-primary:focus {
      background: #19cb9b;
      outline: none; }
  [class*="ls-btn"].ls-btn-secondary {
    background: #809ef3;
    color: #fff; }
    [class*="ls-btn"].ls-btn-secondary:hover, [class*="ls-btn"].ls-btn-secondary:hover:focus {
      background: #577ade;
      outline: none; }
    [class*="ls-btn"].ls-btn-secondary.outlined {
      box-shadow: inset 0 0 0 1px;
      background: transparent;
      color: #809ef3; }
      [class*="ls-btn"].ls-btn-secondary.outlined:hover, [class*="ls-btn"].ls-btn-secondary.outlined:focus {
        border-color: #809ef3;
        box-shadow: none;
        box-shadow: inset 0 0 0 2px;
        outline: none; }
  [class*="ls-btn"].ls-btn-icon {
    padding: 6px 11px 7px; }
    [class*="ls-btn"].ls-btn-icon:hover {
      border: none;
      box-shadow: none;
      background: none; }
    [class*="ls-btn"].ls-btn-icon [class*="ico"] {
      font-size: 16px;
      transition: 0.5s; }
    [class*="ls-btn"].ls-btn-icon.primary [class*="ico"] {
      color: #27deac; }
      [class*="ls-btn"].ls-btn-icon.primary [class*="ico"]:hover {
        color: #19cb9b; }
    [class*="ls-btn"].ls-btn-icon.secondary [class*="ico"] {
      color: #809ef3; }
      [class*="ls-btn"].ls-btn-icon.secondary [class*="ico"]:hover {
        color: #577ade; }
  [class*="ls-btn"].no-bg {
    background: transparent; }

.ls-form-horizontal [class*="ls-btn"] {
  margin-top: 0; }

.ls-boxes .container-filtros {
  padding-bottom: 5px; }

html .ls-table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 8px;
  border-bottom: none; }
  html .ls-table thead th {
    font-weight: 400;
    padding-bottom: 20px;
    border: none; }
  html .ls-table tbody tr {
    background-color: #f4f4f4;
    border: solid 1px #f1f1f1;
    transition: 0.4s;
    transition-property: background-color; }
    html .ls-table tbody tr:hover {
      background-color: #ececec; }
    html .ls-table tbody tr td:first-child {
      border-radius: 4px 0 0 4px; }
    html .ls-table tbody tr td:last-child {
      border-radius: 0 4px 4px 0; }
  html .ls-table th,
  html .ls-table td {
    padding: 7px 14px; }
  html .ls-table td {
    font-size: 13px;
    word-wrap: break-word; }

html [class*="ls-pagination"] li a {
  color: #4d4f5c; }
html [class*="ls-pagination"] li.ls-active {
  background: #7fa1f3; }
html [class*="ls-pagination"] li .icon {
  font-size: 30px; }
html [class*="ls-pagination"] li:first-child a, html [class*="ls-pagination"] li:last-child a {
  padding: 0 7px 1px;
  color: #808495; }
html [class*="ls-pagination"] li:first-child.ls-disabled a, html [class*="ls-pagination"] li:last-child.ls-disabled a {
  color: #ccc; }

.featherlight .featherlight-content {
  padding: 0;
  border-bottom: none;
  border-radius: 8px; }
  .featherlight .featherlight-content p {
    color: #a6a6c4; }
.featherlight .featherlight-close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: center;
  font-family: "Segoe UI";
  background: transparent;
  color: #7ea0f3;
  border: none;
  padding: 0;
  font-size: 20px; }

.with-featherlight html, .with-featherlight body {
  overflow: hidden; }

.modal-popup {
  min-width: 400px; }

.modal-popup-header {
  border-bottom: solid 1px #ececec;
  padding: 20px;
  color: #a6a6c4; }
  .modal-popup-header p {
    font-size: 16px; }

.modal-popup-imagem {
  text-align: center; }

.modal-popup-conteudo .ui.checkbox label,
.modal-popup-conteudo .ui.checkbox + label {
  color: #7ea1f3; }
.modal-popup-conteudo .ui.segment.buttons-segment .botoes-acao {
  display: block; }
.modal-popup-conteudo .botoes-acao {
  margin-top: 20px;
  padding: 0 10px 20px; }
.modal-popup-conteudo .grupo-botoes {
  float: right; }
.modal-popup-conteudo .ui.search.input input {
  background: #fff; }

.ui.segment.segment-content {
  max-height: 250px;
  overflow: auto; }

.modal-popup-titulo {
  font-size: 18px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #544364;
  margin-bottom: 0; }

/***** Customizações de Modais *****/
.modal-relacionar-perfil .featherlight-content {
  max-width: 600px;
  width: 100%; }

.modal-termos-uso .featherlight-content {
  max-width: 600px;
  width: 100%; }

.modal-confirmacao-compra .featherlight-content {
  width: 100%;
  max-width: 400px; }
.modal-confirmacao-compra .modal-popup-header {
  min-height: 320px;
  padding-top: 50px; }
.modal-confirmacao-compra .modal-popup-titulo {
  font-size: 24px;
  color: #a6a6c4;
  text-align: center;
  text-transform: uppercase; }
.modal-confirmacao-compra .modal-popup-conteudo .grupo-botoes {
  display: block; }
  .modal-confirmacao-compra .modal-popup-conteudo .grupo-botoes .ui.button {
    min-width: 120px; }

.zone-upload-image {
  width: 350px;
  height: 350px;
  background: url(../img/placeholder-imagem-upload.png) center 80px no-repeat #f0f2f8;
  margin: 0 auto;
  border: none;
  font-size: 13px;
  color: #a6a6c4;
  font-weight: 100;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 70px;
  position: relative; }
  .zone-upload-image.dz-started {
    padding: 0; }

.dropzone .dz-preview .dz-remove {
  color: #7ea1f3;
  display: block;
  margin-top: 5px;
  text-align: right; }

.dropzone .dz-preview.dz-image-preview {
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0;
  margin: 0;
  width: 100%;
  height: 100%; }
  .dropzone .dz-preview.dz-image-preview .dz-image {
    border-radius: 0;
    width: 100%;
    height: 100%; }
    .dropzone .dz-preview.dz-image-preview .dz-image img {
      width: 100%;
      height: 100%;
      transition: 0.5s; }
  .dropzone .dz-preview.dz-image-preview:hover .dz-image img {
    filter: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none; }

.ls-box.area-upload {
  background: #f9f9f9;
  padding: 45px 30px;
  margin-top: 0; }
  .ls-box.area-upload .conteudo-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column; }
    .ls-box.area-upload .conteudo-upload p {
      font-size: 16px;
      color: #a6a6c4;
      margin: 0; }
    .ls-box.area-upload .conteudo-upload .ls-btn {
      padding: 22px 80px;
      margin-top: 30px;
      font-size: 16px;
      text-transform: uppercase; }
    .ls-box.area-upload .conteudo-upload small {
      font-size: 13px;
      color: #7ea1f3;
      display: block;
      margin-top: 10px; }

.ls-collapse-title {
  font-weight: normal;
  font-size: 13px;
  color: #a6a6c4; }

.ls-collapse-header {
  padding: 18px 35px 17px 10px; }

.ls-collapse .checkbox-container {
  float: left;
  margin-bottom: 0;
  margin-top: 2px; }
.ls-collapse-body .checkbox-container {
  float: none; }
  .ls-collapse-body .checkbox-container ~ .checkbox-container {
    margin-top: 5px; }

.rating .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d9dde6;
  margin: 0 4px;
  display: inline-block; }
  .rating .dot.filled {
    background-color: #27deac; }

.right-aligned {
  text-align: right !important; }

.center-aligned {
  text-align: center !important; }

.bg-grey {
  background-color: #f9f9f9; }

.bg-medium-grey {
  background-color: #eeeeee; }

.bg-action-grey {
  background-color: #eef1f3; }

.bg-blue-gradient {
  background-image: linear-gradient(to bottom, #8399f5, #7aa9f1); }

.texto-destaque {
  color: #7ea1f3; }

.unstyled-link {
  text-decoration: none; }

/*# sourceMappingURL=genesis-application.css.map */
