@charset "UTF-8";
/*Estrutura*/
/*Textos*/
/*Links*/
/*Tabs*/
/* Botões */
@import url(../fonts/SegoeUI/stylesheet.css);
@import url(../fonts/icones-novavida/css/nova-vida-icones.css);
@import url(../fonts/icomoon-novavida/style.css);
@import url(../../vendors/bootstrap/bootstrap-grid.min.css);
@import url(../../vendors/featherlight-1.7.13/featherlight.css);
@import url(../../vendors/pretty-checkbox/pretty-checkbox.min.css);
@import url(../../vendors/dropzone/dropzone.css);
@import url(../../vendors/jquery-ui-1.12.1.custom/jquery-ui.min.css);
@import url(../../vendors/select2/select2.min.css);
.modal-popup-conteudo .botoes-acao:before, .modal-popup-conteudo .botoes-acao:after {
  display: table;
  content: "";
  width: 100%;
  clear: both;
  float: none; }

/* Fontes e Ícones */
/*Vendors*/
.tagify {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #DDD;
  padding: 0;
  cursor: text;
  position: relative; }
@keyframes tags--bump {
  30% {
    transform: scale(1.2); } }
  .tagify:hover {
    border-color: #CCC; }
  .tagify[readonly] {
    cursor: default; }
    .tagify[readonly] > .tagify__input {
      visibility: hidden;
      width: 0;
      margin: 5px 0; }
    .tagify[readonly] x {
      display: none; }
    .tagify[readonly] tag > div {
      padding: 0.3em 0.5em; }
  .tagify + input,
  .tagify + textarea {
    border: 0;
    display: none; }
  .tagify tag {
    display: inline-block;
    margin: 5px 0 5px 5px;
    position: relative;
    z-index: 1;
    cursor: default;
    transition: .13s ease-out; }
    .tagify tag > div {
      vertical-align: top;
      position: relative;
      box-sizing: border-box;
      max-width: 100%;
      padding: 0.3em 0.5em;
      color: black;
      border-radius: 3px;
      transition: .13s ease-out;
      padding-right: 1.5em; }
      .tagify tag > div > * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: top;
        transition: .1s; }
      .tagify tag > div::before {
        content: '';
        position: absolute;
        border-radius: inherit;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #E5E5E5;
        z-index: -1;
        pointer-events: none;
        transition: 80ms ease;
        animation: .3s tags--bump 1 ease-out; }
    .tagify tag:hover:not([readonly]) div::before {
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      background: #D3E2E2;
      box-shadow: 0 0 0 0 #D39494 inset; }
    .tagify tag.tagify--noAnim {
      animation: none; }
    .tagify tag.tagify--hide {
      width: 0 !important;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      opacity: 0;
      transform: scale(0);
      transition: .3s;
      pointer-events: none; }
    .tagify tag.tagify--mark div::before {
      animation: none; }
    .tagify tag.tagify--notAllowed div > span {
      opacity: .5; }
    .tagify tag.tagify--notAllowed div::before {
      background: rgba(211, 148, 148, 0.44);
      transition: .2s; }
    .tagify tag[readonly] x {
      display: none; }
    .tagify tag[readonly] > div {
      padding: 0.3em 0.5em; }
    .tagify tag x {
      font: 14px/16px Serif;
      width: 14px;
      height: 14px;
      text-align: center;
      border-radius: 50px;
      position: absolute;
      z-index: 1;
      right: calc(0.5em - 2px);
      top: 50%;
      cursor: pointer;
      transform: translateY(-50%);
      transition: .2s ease-out; }
      .tagify tag x::after {
        content: "\00D7"; }
      .tagify tag x:hover {
        color: white;
        background: #c77777; }
        .tagify tag x:hover + div > span {
          opacity: .5; }
        .tagify tag x:hover + div::before {
          background: rgba(211, 148, 148, 0.44);
          transition: .2s; }
  .tagify__input {
    min-width: 110px;
    margin: 5px;
    padding: 0.3em 0.5em;
    position: relative; }
    .tagify__input:empty::before {
      transition: .2s ease-out;
      opacity: 0.5;
      transform: none; }
    .tagify__input:focus {
      outline: none; }
      .tagify__input:focus::before {
        transition: .2s ease-out;
        opacity: 0;
        transform: translatex(6px); }
        @supports (-moz-appearance: none) {
          .tagify__input:focus::before {
            display: none; } }
      .tagify__input:focus:empty::before {
        transition: .2s ease-out;
        opacity: 0.3;
        transform: none; }
        @supports (-moz-appearance: none) {
          .tagify__input:focus:empty::before {
            display: inline-block; } }
    .tagify__input::before {
      content: attr(data-placeholder);
      line-height: 1.8;
      position: absolute;
      top: 0;
      z-index: 1;
      color: black;
      white-space: nowrap;
      pointer-events: none;
      opacity: 0; }
    @supports (-moz-appearance: none) {
      .tagify__input::before {
        line-height: inherit;
        position: relative; } }
    .tagify__input::after {
      content: attr(data-suggest);
      color: black;
      opacity: .3;
      pointer-events: none; }
    .tagify__input tag {
      margin: 0 2.5px; }
      .tagify__input tag > div {
        padding-top: 0;
        padding-bottom: 0; }
        .tagify__input tag > div::before {
          top: -3px;
          bottom: -3px; }
      .tagify__input tag:hover:not([readonly]) > div::before {
        top: -3px;
        bottom: -3px;
        left: 0;
        right: 0; }
  .tagify--mix .tagify__input {
    padding: 5px;
    margin: 0;
    width: 100%;
    height: 100%; }
  .tagify__dropdown {
    position: absolute;
    z-index: 999;
    background: white;
    max-height: 300px;
    overflow: auto;
    border: 1px solid #CCC;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; }
    .tagify__dropdown__item {
      box-sizing: inherit;
      padding: .35em .6em;
      margin: 2px;
      cursor: pointer;
      border-radius: 3px;
      position: relative; }
      .tagify__dropdown__item--active {
        background: #E5E5E5; }
      .tagify__dropdown__item:active {
        background: #f2f2f2; }

.ls-main.doc {
  height: auto;
  margin: 0;
  padding: 60px 0 0; }

.doc-wrapper {
  position: relative;
  min-width: 1280px;
  max-width: 100%;
  height: 100%;
  background: #090e1c; }
  .doc-wrapper.open .doc-principal {
    overflow: hidden;
    right: 1000px; }
  .doc-wrapper.open .doc-sidebar {
    right: 0; }
  @media screen and (max-width: 1279px) {
    .doc-wrapper {
      min-width: 875px; }
      .doc-wrapper .doc-principal .doc-menu {
        overflow: hidden;
        width: 0; }
      .doc-wrapper .doc-principal .sidebar-menu {
        width: 40px; }
      .doc-wrapper .doc-sidebar {
        right: -840px;
        width: 840px; }
      .doc-wrapper.open .doc-principal {
        right: 840px; } }
  .doc-wrapper.no-sidebar .doc-principal {
    justify-content: center; }

.doc-principal {
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  right: 0;
  min-width: 1280px;
  width: 100%;
  height: calc(100vh - 60px);
  margin: 0 auto;
  transition: all 300ms ease-in-out; }

.doc-menu {
  float: left;
  width: 260px;
  padding: 40px; }
  .doc-menu ol {
    list-style: none;
    padding-left: 30px; }
  .doc-menu-item, .doc-menu-titulo {
    line-height: 1.2;
    margin: 15px 0;
    text-align: left;
    font-family: "Segoe UI", sans-serif;
    font-size: 13px;
    color: rgba(166, 166, 196, 0.5); }
    .doc-menu-item a, .doc-menu-titulo a {
      color: rgba(166, 166, 196, 0.5);
      transition: .25s; }
    .doc-menu-item.atual, .doc-menu-item:hover, .doc-menu-titulo.atual, .doc-menu-titulo:hover {
      color: #27deac; }
      .doc-menu-item.atual > a, .doc-menu-item:hover > a, .doc-menu-titulo.atual > a, .doc-menu-titulo:hover > a {
        color: #27deac; }
      .doc-menu-item.atual .marcador, .doc-menu-item:hover .marcador, .doc-menu-titulo.atual .marcador, .doc-menu-titulo:hover .marcador {
        background-color: #27deac; }
  .doc-menu-titulo {
    font-size: 20px; }
  .doc-menu-item {
    position: relative; }
    .doc-menu-item .marcador {
      display: inline-block;
      position: absolute;
      left: -25px;
      top: 3px;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: rgba(166, 166, 196, 0.5); }
      .doc-menu-item .marcador:before {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 100%;
        left: 50%;
        width: 1px;
        height: 20px;
        background: rgba(166, 166, 196, 0.5);
        transform: translateX(-50%); }
  .doc-menu .doc-submenu {
    padding-left: 15px; }
    .doc-menu .doc-submenu .doc-menu-item:before {
      display: none; }

.doc-pagina {
  float: left;
  width: 875px;
  height: 1348px;
  background: #f9f9f9 url(../img/doc/brasao-republica.png) center no-repeat; }
  .doc-pagina.capa, .doc-pagina.folha-rosto, .doc-pagina.sumario {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 1010px;
    padding: 74px 110px; }
  .doc-pagina.capa .item {
    padding: 12px 0;
    line-height: 1.22;
    text-align: left;
    font-size: 18px;
    border-bottom: 1px solid #d8d8d8; }
    .doc-pagina.capa .item-nome {
      color: #544364; }
    .doc-pagina.capa .item-valor {
      color: #7ea1f3; }
    .doc-pagina.capa .item.duas-colunas {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 35px 0; }
      .doc-pagina.capa .item.duas-colunas .item-col {
        font-size: 13px; }
        .doc-pagina.capa .item.duas-colunas .item-col .item-nome {
          display: block; }
    .doc-pagina.capa .item.centralizado {
      max-width: 70%;
      margin: 0 auto;
      text-align: center;
      font-size: 13px;
      border: none; }
      .doc-pagina.capa .item.centralizado .item-nome {
        display: block;
        margin: 20px auto 10px; }
      .doc-pagina.capa .item.centralizado .item-valor {
        color: #a6a6c4; }
  .doc-pagina.folha-rosto .conteudo-wrapper {
    margin-bottom: 10%; }
    .doc-pagina.folha-rosto .conteudo-wrapper .titulo {
      width: 380px;
      margin: 0 auto 40px;
      padding: 45px 0;
      text-align: center;
      font-size: 32px;
      color: #544364;
      border-bottom: 1px solid #d8d8d8; }
    .doc-pagina.folha-rosto .conteudo-wrapper .data {
      text-align: center;
      font-size: 16px;
      color: #7ea1f3; }
  .doc-pagina.sumario .titulo {
    margin-bottom: 40px;
    text-align: left;
    font-size: 48px;
    color: #7ea1f3; }
  .doc-pagina.sumario .sumario-itens .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 22px;
    margin: 15px 0;
    text-transform: uppercase;
    font-size: 18px; }
    .doc-pagina.sumario .sumario-itens .item .nome {
      color: #544364; }
    .doc-pagina.sumario .sumario-itens .item .espacador {
      flex-grow: 1;
      align-self: flex-end;
      height: 1px;
      background-color: #a6a6c4; }
    .doc-pagina.sumario .sumario-itens .item .pagina {
      color: #7ea1f3; }
  .doc-pagina.consulta-receita-federal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 1345px;
    margin: 32px 0;
    padding: 30px 50px; }
    .doc-pagina.consulta-receita-federal .doc-row {
      display: flex;
      flex-direction: row; }
    .doc-pagina.consulta-receita-federal .doc-header {
      padding-bottom: 32px;
      border-bottom: 1px solid #d8d8d8; }
      .doc-pagina.consulta-receita-federal .doc-header .doc-titulo {
        flex-grow: 1;
        font-size: 36px;
        line-height: 1.19;
        font-weight: 300;
        color: #a6a6c4; }
      .doc-pagina.consulta-receita-federal .doc-header .doc-status {
        display: flex;
        justify-content: space-around;
        width: 200px; }
        .doc-pagina.consulta-receita-federal .doc-header .doc-status .icon {
          font-size: 32px;
          color: #27deac; }
        .doc-pagina.consulta-receita-federal .doc-header .doc-status .descricao {
          padding-left: 10px;
          font-size: 12px; }
      .doc-pagina.consulta-receita-federal .doc-header .aviso-grau-risco {
        display: inline-block;
        margin-top: 12px;
        padding: 8px 30px;
        color: #fff;
        border-radius: 4px;
        background: #8399f5;
        background: -moz-linear-gradient(top, #8399f5 0%, #7aa9f1 100%);
        background: -webkit-linear-gradient(top, #8399f5 0%, #7aa9f1 100%);
        background: linear-gradient(to bottom, #8399f5 0%, #7aa9f1 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8399f5', endColorstr='#7aa9f1',GradientType=0 ); }
    .doc-pagina.consulta-receita-federal .doc-bloco-titulo {
      margin: 35px 0 15px;
      line-height: 1.22;
      font-size: 18px;
      color: #544364; }
    .doc-pagina.consulta-receita-federal .doc-bloco-subtitulo {
      margin-bottom: 15px;
      line-height: 1.22;
      font-size: 18px;
      font-weight: 600;
      color: #7ea1f3; }
    .doc-pagina.consulta-receita-federal .doc-bloco-tabela {
      margin-top: 35px;
      font-size: 13px; }
      .doc-pagina.consulta-receita-federal .doc-bloco-tabela th {
        padding-bottom: 15px;
        text-align: left;
        font-weight: bold;
        color: #544364; }
      .doc-pagina.consulta-receita-federal .doc-bloco-tabela td {
        vertical-align: top;
        line-height: 1.25;
        padding: 20px 0;
        text-align: left;
        border-top: 1px solid #d8d8d8; }
        .doc-pagina.consulta-receita-federal .doc-bloco-tabela td:nth-child(1) {
          width: 140px;
          color: #7ea1f3; }
        .doc-pagina.consulta-receita-federal .doc-bloco-tabela td:nth-child(2) {
          width: 240px;
          color: #7ea1f3; }
    .doc-pagina.consulta-receita-federal .doc-bloco-detalhes {
      display: flex;
      flex-direction: column; }
      .doc-pagina.consulta-receita-federal .doc-bloco-detalhes .detalhes-row {
        display: flex;
        flex-direction: row;
        padding: 15px 0;
        font-size: 13px; }
        .doc-pagina.consulta-receita-federal .doc-bloco-detalhes .detalhes-row .detalhes-titulo {
          flex: 0 0 15%;
          line-height: 1.25;
          font-weight: bold;
          color: #544364; }
        .doc-pagina.consulta-receita-federal .doc-bloco-detalhes .detalhes-row .detalhes-descricao {
          line-height: 1.25;
          color: #a6a6c4; }
        .doc-pagina.consulta-receita-federal .doc-bloco-detalhes .detalhes-row:first-child .detalhes-descricao {
          color: #7ea1f3; }
        .doc-pagina.consulta-receita-federal .doc-bloco-detalhes .detalhes-row.duas-colunas .detalhes-col:first-child {
          flex: 0 0 20%;
          border-right: 1px solid #d8d8d8; }
          .doc-pagina.consulta-receita-federal .doc-bloco-detalhes .detalhes-row.duas-colunas .detalhes-col:first-child .detalhes-descricao {
            font-size: 18px;
            color: #544364; }
        .doc-pagina.consulta-receita-federal .doc-bloco-detalhes .detalhes-row.duas-colunas .detalhes-col:nth-child(2) {
          padding-left: 45px; }
    .doc-pagina.consulta-receita-federal .doc-bloco:last-child {
      margin-top: 70px; }

.sidebar-menu {
  float: left;
  width: 150px;
  margin-right: auto; }

.doc-sidebar {
  position: fixed;
  top: 0;
  right: -1000px;
  bottom: 0;
  width: 1000px;
  height: calc(100vh - 60px);
  transition: all 300ms ease-in-out; }

.ls-form-horizontal .ls-label[class*="col-"] {
  float: none !important; }
  .ls-form-horizontal .ls-label[class*="col-"]:focus {
    outline: none; }

body {
  font-family: "Segoe UI", sans-serif;
  font-weight: 100;
  color: #a6a6c4;
  font-size: 14px; }

p {
  margin-bottom: 0; }
  p ~ p {
    margin-top: 10px; }
  p a {
    border: none; }

html .ls-topbar {
  background: transparent; }
html .ls-user-account {
  background: transparent; }
  html .ls-user-account .user-data-header {
    font-size: 14px;
    color: #a9b2c4;
    font-weight: 400; }
  html .ls-user-account .user-data-description {
    font-size: 13px;
    color: #7ea1f3;
    font-weight: 400; }
  html .ls-user-account .ls-ico-user {
    color: #000; }
    html .ls-user-account .ls-ico-user:before {
      display: none; }
    html .ls-user-account .ls-ico-user img {
      position: static;
      float: left;
      margin-right: 15px; }
html .ls-notification-topbar {
  background: #fff;
  margin-right: 20px;
  border-radius: 0 0 10px 10px;
  padding: 0 15px; }

@media screen and (min-width: 768px) {
  .ls-topbar .ls-brand-name {
    font-size: 26px;
    text-align: left;
    width: auto;
    display: inline-block;
    padding-left: 0;
    position: relative;
    z-index: 1;
    background: transparent; }
  .ls-topbar .ls-notification-topbar .ls-alerts-list {
    height: auto; }
    .ls-topbar .ls-notification-topbar .ls-alerts-list a {
      position: relative; }
      .ls-topbar .ls-notification-topbar .ls-alerts-list a:before {
        color: #a9b2c4;
        font-size: 18px; }
      .ls-topbar .ls-notification-topbar .ls-alerts-list a:after {
        content: "";
        display: block;
        position: absolute;
        content: attr(data-counter);
        color: blue;
        width: 15px;
        height: 15px;
        background: #8399f5;
        color: #fff;
        border-radius: 100%;
        font-size: 10px;
        text-align: center;
        font-weight: bold;
        line-height: 15px;
        top: -10px;
        left: 10px; } }
.ls-topbar .ls-brand-name {
  margin-left: 40px;
  padding-top: 6px; }

.ls-sidebar .ls-sidebar-toggle {
  display: none !important; }

.ls-main {
  background-color: #f5f6fa;
  height: auto;
  padding-bottom: 30px; }

@media screen and (min-width: 768px) {
  .ls-main {
    margin-left: 240px; }

  .ls-container,
  .ls-main > .container-fluid,
  .ls-main > .container {
    padding: 0 20px; }

  .ls-sidebar .ls-menu > ul {
    padding-bottom: 0;
    padding-top: 30px; } }
.page-header {
  padding: 29px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 20px; }
  .page-header:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 1px;
    background: #eaeaee;
    width: 100%; }

.ls-title-intro {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  font-size: 32px;
  color: #a9b2c4;
  font-weight: 400;
  padding: 0;
  margin-bottom: 0;
  position: relative;
  padding-bottom: 0; }
  .ls-title-intro sup {
    font-size: 12px;
    color: #7da4f2;
    position: relative;
    left: -5px;
    top: -6px;
    font-weight: bold; }

.ls-sidebar {
  background: #fff;
  width: 240px; }

html .ls-menu li {
  border: none; }
html .ls-menu a {
  color: #a6a6c4;
  font-weight: 400;
  text-transform: uppercase;
  padding: 22px 15px 22px 15px;
  transition: 0.5s;
  width: 100%;
  position: relative; }
  html .ls-menu a:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 4px;
    right: 0;
    top: 0;
    transition: 1s;
    background-color: #8399f5;
    transform: scale(0); }
  html .ls-menu a:hover {
    color: #7ea1f3;
    background-color: transparent;
    padding-left: 15px; }
    html .ls-menu a:hover:after {
      content: "";
      display: block;
      position: absolute;
      transform: scale(1); }
  html .ls-menu a:before {
    position: static;
    margin-right: 10px;
    transition: none;
    font-size: 16px;
    margin-right: 10px; }
html .ls-menu .ls-menu > ul {
  padding-bottom: 0; }

/*Componentes*/
html .ls-tabs-container .ls-tab-content {
  padding: 0;
  border: none; }

html .page-title-tabs:not(.in-dropdown) {
  position: relative; }
  html .page-title-tabs:not(.in-dropdown):after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #eaeaee; }
  html .page-title-tabs:not(.in-dropdown) li {
    background: transparent;
    border: none;
    position: relative; }
    html .page-title-tabs:not(.in-dropdown) li:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: transparent;
      bottom: 0; }
    html .page-title-tabs:not(.in-dropdown) li:hover {
      background: transparent;
      transition: 0.5s; }
      html .page-title-tabs:not(.in-dropdown) li:hover a {
        color: #7da2f2; }
    html .page-title-tabs:not(.in-dropdown) li a {
      font-size: 30px;
      color: #a9b2c4;
      padding: 15px 16px 20px; }
    html .page-title-tabs:not(.in-dropdown) li.ls-active {
      background: transparent;
      z-index: 1; }
      html .page-title-tabs:not(.in-dropdown) li.ls-active:after {
        content: "";
        display: block;
        position: absolute;
        background-color: #8399f5; }
      html .page-title-tabs:not(.in-dropdown) li.ls-active a {
        color: #7da2f2;
        padding: 15px 16px 20px; }

.ls-tabs-container .ls-tab-content {
  margin-bottom: 0; }

html .box-tabs:not(.in-dropdown) {
  display: flex;
  position: relative; }
  html .box-tabs:not(.in-dropdown):after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    background: #eaeaee;
    bottom: 0;
    width: 100%; }
  html .box-tabs:not(.in-dropdown) li {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    border: none;
    background-color: #fff;
    position: relative; }
    html .box-tabs:not(.in-dropdown) li:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: transparent;
      z-index: 1;
      transform: scaleX(0);
      transition: 0.8s; }
    html .box-tabs:not(.in-dropdown) li:hover {
      background-color: #fff; }
    html .box-tabs:not(.in-dropdown) li a {
      text-align: center;
      display: block;
      color: #a6a6c4;
      font-size: 13px;
      text-transform: uppercase;
      padding: 26px 20px;
      width: 100%;
      transition: 0.5s; }
    html .box-tabs:not(.in-dropdown) li.ls-active:after {
      content: "";
      display: block;
      position: absolute;
      background-color: #7da2f2;
      transform: scaleX(1); }
    html .box-tabs:not(.in-dropdown) li.ls-active a {
      padding: 26px 20px;
      color: #7da2f2; }
html .box-tabs + .ls-tabs-container {
  margin-top: 30px; }

.ls-boxes .ls-box {
  margin-bottom: 0;
  border-radius: 0;
  position: relative;
  margin-top: -1px;
  padding: 20px; }
  .ls-boxes .ls-box:first-child {
    border-radius: 4px 4px 0 0; }
  .ls-boxes .ls-box:last-child {
    border-radius: 0 0 4px 4px; }
  .ls-boxes .ls-box:only-child {
    border-radius: 4px; }
.ls-boxes .ls-title {
  color: #544364;
  font-size: 18px; }

/*Relacionar listas*/
.relacionar-listas {
  height: 430px;
  overflow: auto;
  padding: 25px 20px; }
  .relacionar-listas .checkbox-container {
    margin-bottom: 8px; }

/**/
.ls-box .link {
  margin-left: 10px; }

.ls-breadcrumb {
  margin-bottom: 20px;
  border: none;
  font-size: 13px; }
  .ls-breadcrumb li {
    color: #8399f5;
    padding: 0 6px 0 0; }
    .ls-breadcrumb li:first-child {
      padding-left: 0; }
    .ls-breadcrumb li:last-child:after {
      content: "";
      display: block;
      position: absolute;
      display: none; }
    .ls-breadcrumb li:before {
      display: none; }
    .ls-breadcrumb li:after {
      content: "";
      display: block;
      position: absolute;
      position: relative;
      content: ">";
      color: #a9b2c4;
      float: right;
      margin-left: 5px; }
    .ls-breadcrumb li a {
      color: #a9b2c4;
      text-decoration: none; }

.ls-box .passos {
  margin-bottom: 0;
  counter-reset: contador;
  display: flex; }
  .ls-box .passos li {
    display: flex;
    align-items: center; }
    .ls-box .passos li:before {
      counter-increment: contador;
      display: inline-block;
      content: counter(contador);
      border: none;
      float: left;
      width: 38px;
      height: 38px;
      background: #eaeaee;
      border-radius: 100%;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #a6a6c4; }
    .ls-box .passos li:after {
      display: none; }

.ls-label {
  position: relative; }

.ls-label .ls-input-text, .ls-label .tagify,
.ls-label input[type="color"],
.ls-label input[type="date"],
.ls-label input[type="datetime"],
.ls-label input[type="datetime-local"],
.ls-label input[type="email"],
.ls-label input[type="month"],
.ls-label input[type="number"],
.ls-label input[type="password"],
.ls-label input[type="search"],
.ls-label input[type="tel"],
.ls-label input[type="text"],
.ls-label input[type="time"],
.ls-label input[type="url"],
.ls-label input[type="week"],
.ls-label textarea {
  color: #a6a6c4;
  background: #f6f6f6;
  height: 40px;
  border-radius: 3px;
  border: solid 1px #e2e2e2;
  box-shadow: none;
  font-size: 13px;
  font-weight: 100;
  font-family: "Segoe UI", sans-serif; }
  .ls-label .ls-input-text::-webkit-input-placeholder, .ls-label .tagify::-webkit-input-placeholder,
  .ls-label input[type="color"]::-webkit-input-placeholder,
  .ls-label input[type="date"]::-webkit-input-placeholder,
  .ls-label input[type="datetime"]::-webkit-input-placeholder,
  .ls-label input[type="datetime-local"]::-webkit-input-placeholder,
  .ls-label input[type="email"]::-webkit-input-placeholder,
  .ls-label input[type="month"]::-webkit-input-placeholder,
  .ls-label input[type="number"]::-webkit-input-placeholder,
  .ls-label input[type="password"]::-webkit-input-placeholder,
  .ls-label input[type="search"]::-webkit-input-placeholder,
  .ls-label input[type="tel"]::-webkit-input-placeholder,
  .ls-label input[type="text"]::-webkit-input-placeholder,
  .ls-label input[type="time"]::-webkit-input-placeholder,
  .ls-label input[type="url"]::-webkit-input-placeholder,
  .ls-label input[type="week"]::-webkit-input-placeholder,
  .ls-label textarea::-webkit-input-placeholder {
    color: #a6a6c4; }
  .ls-label .ls-input-text:-moz-placeholder, .ls-label .tagify:-moz-placeholder,
  .ls-label input[type="color"]:-moz-placeholder,
  .ls-label input[type="date"]:-moz-placeholder,
  .ls-label input[type="datetime"]:-moz-placeholder,
  .ls-label input[type="datetime-local"]:-moz-placeholder,
  .ls-label input[type="email"]:-moz-placeholder,
  .ls-label input[type="month"]:-moz-placeholder,
  .ls-label input[type="number"]:-moz-placeholder,
  .ls-label input[type="password"]:-moz-placeholder,
  .ls-label input[type="search"]:-moz-placeholder,
  .ls-label input[type="tel"]:-moz-placeholder,
  .ls-label input[type="text"]:-moz-placeholder,
  .ls-label input[type="time"]:-moz-placeholder,
  .ls-label input[type="url"]:-moz-placeholder,
  .ls-label input[type="week"]:-moz-placeholder,
  .ls-label textarea:-moz-placeholder {
    color: #a6a6c4; }
  .ls-label .ls-input-text::-moz-placeholder, .ls-label .tagify::-moz-placeholder,
  .ls-label input[type="color"]::-moz-placeholder,
  .ls-label input[type="date"]::-moz-placeholder,
  .ls-label input[type="datetime"]::-moz-placeholder,
  .ls-label input[type="datetime-local"]::-moz-placeholder,
  .ls-label input[type="email"]::-moz-placeholder,
  .ls-label input[type="month"]::-moz-placeholder,
  .ls-label input[type="number"]::-moz-placeholder,
  .ls-label input[type="password"]::-moz-placeholder,
  .ls-label input[type="search"]::-moz-placeholder,
  .ls-label input[type="tel"]::-moz-placeholder,
  .ls-label input[type="text"]::-moz-placeholder,
  .ls-label input[type="time"]::-moz-placeholder,
  .ls-label input[type="url"]::-moz-placeholder,
  .ls-label input[type="week"]::-moz-placeholder,
  .ls-label textarea::-moz-placeholder {
    color: #a6a6c4; }
  .ls-label .ls-input-text:-ms-input-placeholder, .ls-label .tagify:-ms-input-placeholder,
  .ls-label input[type="color"]:-ms-input-placeholder,
  .ls-label input[type="date"]:-ms-input-placeholder,
  .ls-label input[type="datetime"]:-ms-input-placeholder,
  .ls-label input[type="datetime-local"]:-ms-input-placeholder,
  .ls-label input[type="email"]:-ms-input-placeholder,
  .ls-label input[type="month"]:-ms-input-placeholder,
  .ls-label input[type="number"]:-ms-input-placeholder,
  .ls-label input[type="password"]:-ms-input-placeholder,
  .ls-label input[type="search"]:-ms-input-placeholder,
  .ls-label input[type="tel"]:-ms-input-placeholder,
  .ls-label input[type="text"]:-ms-input-placeholder,
  .ls-label input[type="time"]:-ms-input-placeholder,
  .ls-label input[type="url"]:-ms-input-placeholder,
  .ls-label input[type="week"]:-ms-input-placeholder,
  .ls-label textarea:-ms-input-placeholder {
    color: #a6a6c4; }
  .ls-label .ls-input-text:focus, .ls-label .tagify:focus,
  .ls-label input[type="color"]:focus,
  .ls-label input[type="date"]:focus,
  .ls-label input[type="datetime"]:focus,
  .ls-label input[type="datetime-local"]:focus,
  .ls-label input[type="email"]:focus,
  .ls-label input[type="month"]:focus,
  .ls-label input[type="number"]:focus,
  .ls-label input[type="password"]:focus,
  .ls-label input[type="search"]:focus,
  .ls-label input[type="tel"]:focus,
  .ls-label input[type="text"]:focus,
  .ls-label input[type="time"]:focus,
  .ls-label input[type="url"]:focus,
  .ls-label input[type="week"]:focus,
  .ls-label textarea:focus {
    outline: none; }

.ls-label textarea {
  height: 95px; }

.field-has-icon:before {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  pointer-events: none;
  color: #4388ff; }
.field-has-icon input {
  padding-right: 40px; }

/*Checkox*/
.checkbox-container {
  background: #fff;
  border-radius: 3px;
  display: block;
  margin-bottom: 15px;
  padding: 13px 15px;
  color: #7ea1f3;
  margin-right: 0; }
  .checkbox-container .state {
    position: relative; }
  .checkbox-container.with-avatar .state label {
    padding-left: 50px; }
  .checkbox-container.with-avatar .user-avatar {
    width: 20px;
    position: absolute;
    left: 50px;
    top: 11px;
    border-radius: 50%; }

.pretty .state label:after,
.pretty .state label:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  border: solid 1px #809cf4;
  z-index: 0;
  position: absolute;
  left: 0;
  top: calc((0% - (100% - 1em)) - 8%);
  background-color: transparent; }

.pretty .state label {
  padding-left: 10px;
  margin-top: 1px; }

.pretty input:checked ~ .state.p-primary-o label:before,
.pretty.p-toggle .state.p-primary-o label:before {
  border: solid 1px #809cf4; }

.pretty.p-tada:not(.p-default) input:checked + .state .icon {
  color: #809cf4;
  width: 20px;
  height: 20px; }

/* Checkbox Estilo Radio */
.radio-style {
  background-color: #fff;
  border: solid 1px #eeeeee;
  padding: 11px 15px;
  border-radius: 30px;
  margin-bottom: 15px; }
  .radio-style .state {
    position: relative; }
    .radio-style .state label {
      color: #a6a6c4;
      position: relative;
      font-weight: 100;
      padding-left: 5px; }
      .radio-style .state label:before {
        border-color: #87a9f3;
        background-color: #fff;
        width: 16px;
        height: 16px; }
      .radio-style .state label:after {
        left: -2px;
        top: -3px;
        border: none;
        transform: scale(0) !important;
        transition: 0.3s; }
  .radio-style.pretty.p-default input:checked ~ .state label:after {
    background: #87a9f3 !important;
    transform: scale(0.3) !important; }

/*Select*/
.select2-container--default:focus {
  outline: none; }
.select2-container--default .select2-selection--single {
  height: 40px;
  border-radius: 3px;
  border: solid 1px #e2e2e2; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
    color: #a6a6c4;
    text-align: left;
    padding: 0 11px; }

[class*="ls-btn"] {
  padding: 11px 40px;
  border: none;
  font-size: 12px;
  text-transform: uppercase; }
  [class*="ls-btn"].fluid {
    width: 100%; }
  [class*="ls-btn"].ls-btn-sm, [class*="ls-btn"].small, [class*="ls-btn"].sm {
    padding: 7px 30px; }
  [class*="ls-btn"].ls-btn-lg, [class*="ls-btn"].large, [class*="ls-btn"].lg {
    padding: 15px 30px; }
  [class*="ls-btn"].ls-btn-primary {
    background: #27deac; }
    [class*="ls-btn"].ls-btn-primary:hover, [class*="ls-btn"].ls-btn-primary:focus {
      background: #19cb9b;
      outline: none; }
  [class*="ls-btn"].ls-btn-secondary {
    background: #809ef3;
    color: #fff; }
    [class*="ls-btn"].ls-btn-secondary:hover, [class*="ls-btn"].ls-btn-secondary:hover:focus {
      background: #577ade;
      outline: none; }
    [class*="ls-btn"].ls-btn-secondary.outlined {
      box-shadow: inset 0 0 0 1px;
      background: transparent;
      color: #809ef3; }
      [class*="ls-btn"].ls-btn-secondary.outlined:hover, [class*="ls-btn"].ls-btn-secondary.outlined:focus {
        border-color: #809ef3;
        box-shadow: none;
        box-shadow: inset 0 0 0 2px;
        outline: none;
        background: #fff; }
  [class*="ls-btn"].ls-btn-icon {
    padding: 6px 11px 7px; }
    [class*="ls-btn"].ls-btn-icon:hover {
      border: none;
      box-shadow: none;
      background: none; }
    [class*="ls-btn"].ls-btn-icon [class*="ico"] {
      font-size: 16px;
      transition: 0.5s; }
    [class*="ls-btn"].ls-btn-icon.primary [class*="ico"] {
      color: #27deac; }
      [class*="ls-btn"].ls-btn-icon.primary [class*="ico"]:hover {
        color: #19cb9b; }
    [class*="ls-btn"].ls-btn-icon.secondary [class*="ico"] {
      color: #809ef3; }
      [class*="ls-btn"].ls-btn-icon.secondary [class*="ico"]:hover {
        color: #577ade; }
  [class*="ls-btn"].no-bg {
    background: transparent; }

.ls-form-horizontal [class*="ls-btn"] {
  margin-top: 0; }

.ls-form .ls-group-btn {
  display: inline-block; }
  .ls-form .ls-group-btn [class*="ls-btn"] {
    margin: 0;
    background: #fff;
    color: #a6a6c4;
    box-shadow: 0 0 0 1px #e2e2e2;
    padding-left: 20px;
    padding-right: 20px; }
    .ls-form .ls-group-btn [class*="ls-btn"].ls-active {
      border: none;
      background-image: linear-gradient(to bottom, #8399f5, #7aa9f1);
      color: #fff; }

.icon-buttons-group {
  display: flex;
  justify-content: space-between; }
  .icon-buttons-group [class*="ls-btn"].ls-btn-icon {
    padding: 0; }
    .icon-buttons-group [class*="ls-btn"].ls-btn-icon [class*="ico"] {
      font-size: 12px; }
    .icon-buttons-group [class*="ls-btn"].ls-btn-icon [class*="icon-remove"] {
      font-size: 20px; }

.ls-boxes .container-filtros {
  padding-bottom: 5px; }
  .ls-boxes .container-filtros input {
    background: #fff; }
  .ls-boxes .container-filtros.small-gutters [class*="col"] {
    padding-right: 0; }

html .ls-table {
  table-layout: initial;
  border-collapse: separate;
  border-spacing: 0 8px;
  border-bottom: none; }
  html .ls-table thead th {
    font-weight: 400;
    padding-bottom: 20px;
    border: none; }
  html .ls-table tbody tr {
    background-color: #f4f4f4;
    border: solid 1px #f1f1f1;
    transition: 0.4s;
    transition-property: background-color; }
    html .ls-table tbody tr:hover {
      background-color: #ececec; }
    html .ls-table tbody tr td:first-child {
      border-radius: 4px 0 0 4px; }
    html .ls-table tbody tr td:last-child {
      border-radius: 0 4px 4px 0; }
  html .ls-table th,
  html .ls-table td {
    padding: 7px 14px; }
  html .ls-table td {
    font-size: 13px;
    word-wrap: break-word; }
  html .ls-table .nv-icon:before {
    margin-right: 10px; }

html [class*="ls-pagination"] li a {
  color: #4d4f5c; }
html [class*="ls-pagination"] li.ls-active {
  background: #7fa1f3; }
html [class*="ls-pagination"] li .icon {
  font-size: 30px; }
html [class*="ls-pagination"] li:first-child a, html [class*="ls-pagination"] li:last-child a {
  padding: 0 7px 1px;
  color: #808495; }
html [class*="ls-pagination"] li:first-child.ls-disabled a, html [class*="ls-pagination"] li:last-child.ls-disabled a {
  color: #ccc; }

.featherlight .featherlight-content {
  padding: 0;
  border-bottom: none;
  border-radius: 8px; }
  .featherlight .featherlight-content p {
    color: #a6a6c4; }
.featherlight .featherlight-close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: center;
  font-family: "Segoe UI";
  background: transparent;
  color: #7ea0f3;
  border: none;
  padding: 0;
  font-size: 20px; }

.with-featherlight html, .with-featherlight body {
  overflow: hidden; }

.modal-popup {
  min-width: 400px; }

.modal-popup-header {
  border-bottom: solid 1px #ececec;
  padding: 20px;
  color: #a6a6c4; }
  .modal-popup-header p {
    font-size: 16px; }

.modal-popup-imagem {
  text-align: center; }

.modal-popup-conteudo .ui.checkbox label,
.modal-popup-conteudo .ui.checkbox + label {
  color: #7ea1f3; }
.modal-popup-conteudo .ui.segment.buttons-segment .botoes-acao {
  display: block; }
.modal-popup-conteudo .botoes-acao {
  margin-top: 20px;
  padding: 0 10px 20px; }
.modal-popup-conteudo .grupo-botoes {
  float: right; }
.modal-popup-conteudo .ui.search.input input {
  background: #fff; }

.ui.segment.segment-content {
  max-height: 250px;
  overflow: auto; }

.modal-popup-titulo {
  font-size: 18px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #544364;
  margin-bottom: 0; }

/***** Customizações de Modais *****/
.modal-relacionar-perfil .featherlight-content {
  max-width: 600px;
  width: 100%; }

.modal-termos-uso .featherlight-content {
  max-width: 600px;
  width: 100%; }

.modal-confirmacao-compra .featherlight-content {
  width: 100%;
  max-width: 400px; }
.modal-confirmacao-compra .modal-popup-header {
  min-height: 320px;
  padding-top: 50px; }
.modal-confirmacao-compra .modal-popup-titulo {
  font-size: 24px;
  color: #a6a6c4;
  text-align: center;
  text-transform: uppercase; }
.modal-confirmacao-compra .modal-popup-conteudo .grupo-botoes {
  display: block; }
  .modal-confirmacao-compra .modal-popup-conteudo .grupo-botoes .ui.button {
    min-width: 120px; }

.zone-upload-image {
  width: 350px;
  height: 350px;
  background: url(../img/placeholder-imagem-upload.png) center 80px no-repeat #f0f2f8;
  margin: 0 auto;
  border: none;
  font-size: 13px;
  color: #a6a6c4;
  font-weight: 100;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 70px;
  position: relative; }
  .zone-upload-image.dz-started {
    padding: 0; }

.dropzone .dz-preview .dz-remove {
  color: #7ea1f3;
  display: block;
  margin-top: 5px;
  text-align: right; }

.dropzone .dz-preview.dz-image-preview {
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0;
  margin: 0;
  width: 100%;
  height: 100%; }
  .dropzone .dz-preview.dz-image-preview .dz-image {
    border-radius: 0;
    width: 100%;
    height: 100%; }
    .dropzone .dz-preview.dz-image-preview .dz-image img {
      width: 100%;
      height: 100%;
      transition: 0.5s; }
  .dropzone .dz-preview.dz-image-preview:hover .dz-image img {
    filter: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none; }

.ls-box.area-upload {
  background: #f9f9f9;
  padding: 45px 30px;
  margin-top: 0; }
  .ls-box.area-upload .conteudo-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column; }
    .ls-box.area-upload .conteudo-upload p {
      font-size: 16px;
      color: #a6a6c4;
      margin: 0; }
    .ls-box.area-upload .conteudo-upload .ls-btn {
      padding: 22px 80px;
      margin-top: 30px;
      font-size: 16px;
      text-transform: uppercase; }
    .ls-box.area-upload .conteudo-upload small {
      font-size: 13px;
      color: #7ea1f3;
      display: block;
      margin-top: 10px; }

.ls-collapse-title {
  font-weight: normal;
  font-size: 13px;
  color: #a6a6c4; }

.ls-collapse-header {
  padding: 18px 35px 17px 10px; }

.ls-collapse .checkbox-container {
  float: left;
  margin-bottom: 0;
  margin-top: 2px; }
.ls-collapse-body .checkbox-container {
  float: none; }
  .ls-collapse-body .checkbox-container ~ .checkbox-container {
    margin-top: 5px; }

.rating {
  position: relative; }
  .rating .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d9dde6;
    margin: 0 4px;
    display: inline-block;
    position: relative;
    z-index: 1; }
    .rating .dot.filled {
      background-color: #27deac; }
  .rating.status {
    position: relative; }
    .rating.status:after {
      content: "";
      display: block;
      position: absolute;
      content: "";
      display: block;
      position: absolute;
      width: calc(100% - 30px);
      height: 1px;
      background: #e5e5e5;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 50%; }

/*Tags*/
.tagify tag > div {
  background: #fff;
  padding: 7px 25px 7px 15px;
  border-radius: 20px;
  color: #a6a6c4; }
.tagify tag x {
  color: #4388ff;
  font-weight: bold;
  font-size: 17px;
  top: 12px;
  right: 7px; }
  .tagify tag x:hover {
    background: transparent;
    color: #4388ff; }
.tagify .tagify__input:empty::before {
  opacity: 1;
  color: #a6a6c4; }

.user-data .avatar {
  width: 35px;
  float: left;
  border-radius: 50%;
  margin-right: 15px; }
.user-data .user-data-info {
  float: left; }
.user-data .user-data-header {
  color: #7ea1f3;
  margin: 0; }
.user-data .user-data-description {
  margin: 2px 0 0 0; }
.user-data [class*="nv-icon"]:before {
  font-size: 11px;
  margin: 0 8px 0 0; }

html div[data-ls-module="progressBar"] {
  width: 180px;
  height: 13px;
  min-height: 13px;
  background-color: #e5e5e5;
  border-radius: 20px;
  padding: 0; }
  html div[data-ls-module="progressBar"] span {
    background: #8399f5;
    background: -moz-linear-gradient(left, #8399f5 0%, #7aa9f1 100%);
    background: -webkit-linear-gradient(left, #8399f5 0%, #7aa9f1 100%);
    background: linear-gradient(to right, #8399f5 0%, #7aa9f1 100%);
    border-radius: 20px;
    height: 13px;
    min-height: 13px; }
    html div[data-ls-module="progressBar"] span:before {
      display: none; }

.right-aligned {
  text-align: right !important; }

.center-aligned {
  text-align: center !important; }

.bg-grey {
  background-color: #f9f9f9; }

.bg-medium-grey {
  background-color: #eeeeee; }

.bg-action-grey {
  background-color: #eef1f3; }

.bg-blue-gradient {
  background-image: linear-gradient(to bottom, #8399f5, #7aa9f1); }

.texto-destaque {
  color: #7ea1f3 !important; }

a.texto-destaque {
  color: #0aabf4 !important; }

.unstyled-link {
  text-decoration: none; }

/*# sourceMappingURL=genesis-application.css.map */
