@font-face {
  font-family: 'icomoon-novavida';
  src:
    url('fonts/icomoon-novavida.ttf?zo0xz') format('truetype'),
    url('fonts/icomoon-novavida.woff?zo0xz') format('woff'),
    url('fonts/icomoon-novavida.svg?zo0xz#icomoon-novavida') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"]:before, [class*=" ico-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-novavida' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-linkedin:before {
  content: "\e9ea";
}
.ico-home:before {
  content: "\e600";
}
.ico-home-2:before {
  content: "\e601";
}
.ico-home-3:before {
  content: "\e602";
}
.ico-home-4:before {
  content: "\e603";
}
.ico-home-5:before {
  content: "\e604";
}
.ico-home-6:before {
  content: "\e605";
}
.ico-city:before {
  content: "\e60b";
}
.ico-apartment:before {
  content: "\e60c";
}
.ico-pencil:before {
  content: "\e60d";
}
.ico-pencil-2:before {
  content: "\e60e";
}
.ico-pen:before {
  content: "\e60f";
}
.ico-pencil-3:before {
  content: "\e610";
}
.ico-eraser:before {
  content: "\e611";
}
.ico-pencil-4:before {
  content: "\e612";
}
.ico-pencil-5:before {
  content: "\e613";
}
.ico-pen-2:before {
  content: "\e617";
}
.ico-pen-add:before {
  content: "\e618";
}
.ico-pen-remove:before {
  content: "\e619";
}
.ico-vector:before {
  content: "\e61a";
}
.ico-pen3:before {
  content: "\e61b";
}
.ico-blog:before {
  content: "\e61c";
}
.ico-brush:before {
  content: "\e61d";
}
.ico-color-sampler:before {
  content: "\e627";
}
.ico-aim:before {
  content: "\e630";
}
.ico-drop:before {
  content: "\e633";
}
.ico-drop-crossed:before {
  content: "\e634";
}
.ico-drop2:before {
  content: "\e635";
}
.ico-contrast:before {
  content: "\e645";
}
.ico-sun-small:before {
  content: "\e646";
}
.ico-sun:before {
  content: "\e647";
}
.ico-moon:before {
  content: "\e649";
}
.ico-cloud:before {
  content: "\e64a";
}
.ico-cloud-upload:before {
  content: "\e64b";
}
.ico-cloud-download:before {
  content: "\e64c";
}
.ico-cloud-rain:before {
  content: "\e64d";
}
.ico-cloud-hailstones:before {
  content: "\e64e";
}
.ico-cloud-snow:before {
  content: "\e64f";
}
.ico-cloud-fog:before {
  content: "\e652";
}
.ico-cloud-sun:before {
  content: "\e653";
}
.ico-cloud-lightning:before {
  content: "\e654";
}
.ico-cloud-sync:before {
  content: "\e655";
}
.ico-cloud-lock:before {
  content: "\e656";
}
.ico-cloud-gear:before {
  content: "\e657";
}
.ico-cloud-alert:before {
  content: "\e658";
}
.ico-cloud-check:before {
  content: "\e659";
}
.ico-cloud-cross:before {
  content: "\e65a";
}
.ico-cloud-crossed:before {
  content: "\e65b";
}
.ico-cloud-database:before {
  content: "\e65c";
}
.ico-database:before {
  content: "\e65d";
}
.ico-database-add:before {
  content: "\e65e";
}
.ico-database-remove:before {
  content: "\e65f";
}
.ico-database-lock:before {
  content: "\e660";
}
.ico-database-refresh:before {
  content: "\e661";
}
.ico-database-check:before {
  content: "\e662";
}
.ico-database-history:before {
  content: "\e663";
}
.ico-database-upload:before {
  content: "\e664";
}
.ico-database-download:before {
  content: "\e665";
}
.ico-server:before {
  content: "\e666";
}
.ico-shield:before {
  content: "\e667";
}
.ico-shield-check:before {
  content: "\e668";
}
.ico-shield-alert:before {
  content: "\e669";
}
.ico-shield-cross:before {
  content: "\e66a";
}
.ico-lock:before {
  content: "\e66b";
}
.ico-rotation-lock:before {
  content: "\e66c";
}
.ico-unlock:before {
  content: "\e66d";
}
.ico-key:before {
  content: "\e66e";
}
.ico-toggle-off:before {
  content: "\e670";
}
.ico-toggle-on:before {
  content: "\e671";
}
.ico-cog:before {
  content: "\e672";
}
.ico-cog2:before {
  content: "\e673";
}
.ico-wrench:before {
  content: "\e674";
}
.ico-screwdriver:before {
  content: "\e675";
}
.ico-hammer-wrench:before {
  content: "\e676";
}
.ico-recycle:before {
  content: "\e67f";
}
.ico-trash:before {
  content: "\e680";
}
.ico-trash-2:before {
  content: "\e681";
}
.ico-trash-3:before {
  content: "\e682";
}
.ico-dice:before {
  content: "\e687";
}
.ico-diamonds:before {
  content: "\e689";
}
.ico-hearts:before {
  content: "\e68b";
}
.ico-heart:before {
  content: "\e68c";
}
.ico-star:before {
  content: "\e68d";
}
.ico-star-half:before {
  content: "\e68e";
}
.ico-star-empty:before {
  content: "\e68f";
}
.ico-flag:before {
  content: "\e690";
}
.ico-flag2:before {
  content: "\e691";
}
.ico-flag3:before {
  content: "\e692";
}
.ico-at-sign:before {
  content: "\e695";
}
.ico-envelope:before {
  content: "\e696";
}
.ico-envelope-open:before {
  content: "\e697";
}
.ico-paperclip:before {
  content: "\e698";
}
.ico-paper-plane:before {
  content: "\e699";
}
.ico-reply:before {
  content: "\e69a";
}
.ico-reply-all:before {
  content: "\e69b";
}
.ico-inbox:before {
  content: "\e69c";
}
.ico-inbox-2:before {
  content: "\e69d";
}
.ico-outbox:before {
  content: "\e69e";
}
.ico-box:before {
  content: "\e69f";
}
.ico-archive:before {
  content: "\e6a0";
}
.ico-archive2:before {
  content: "\e6a1";
}
.ico-drawers3:before {
  content: "\e6a4";
}
.ico-eye:before {
  content: "\e6a5";
}
.ico-eye-crossed:before {
  content: "\e6a6";
}
.ico-eye-plus:before {
  content: "\e6a7";
}
.ico-eye-minus:before {
  content: "\e6a8";
}
.ico-binoculars:before {
  content: "\e6a9";
}
.ico-binoculars-2:before {
  content: "\e6aa";
}
.ico-hdd:before {
  content: "\e6ab";
}
.ico-hdd-down:before {
  content: "\e6ac";
}
.ico-hdd-up:before {
  content: "\e6ad";
}
.ico-floppy-disk:before {
  content: "\e6ae";
}
.ico-disc:before {
  content: "\e6af";
}
.ico-printer:before {
  content: "\e6b1";
}
.ico-shredder:before {
  content: "\e6b2";
}
.ico-file-empty:before {
  content: "\e6b3";
}
.ico-file-add:before {
  content: "\e6b4";
}
.ico-file-check:before {
  content: "\e6b5";
}
.ico-file-lock:before {
  content: "\e6b6";
}
.ico-files:before {
  content: "\e6b7";
}
.ico-copy:before {
  content: "\e6b8";
}
.ico-compare:before {
  content: "\e6b9";
}
.ico-folder:before {
  content: "\e6ba";
}
.ico-folder-search:before {
  content: "\e6bb";
}
.ico-folder-plus:before {
  content: "\e6bc";
}
.ico-folder-minus:before {
  content: "\e6bd";
}
.ico-folder-download:before {
  content: "\e6be";
}
.ico-folder-upload:before {
  content: "\e6bf";
}
.ico-folder-star:before {
  content: "\e6c0";
}
.ico-folder-heart:before {
  content: "\e6c1";
}
.ico-folder-user:before {
  content: "\e6c2";
}
.ico-folder-picture:before {
  content: "\e6c5";
}
.ico-folder-film:before {
  content: "\e6c6";
}
.ico-scissors:before {
  content: "\e6c7";
}
.ico-paste:before {
  content: "\e6c8";
}
.ico-clipboard-empty:before {
  content: "\e6c9";
}
.ico-clipboard-pencil:before {
  content: "\e6ca";
}
.ico-clipboard-text:before {
  content: "\e6cb";
}
.ico-clipboard-check:before {
  content: "\e6cc";
}
.ico-clipboard-down:before {
  content: "\e6cd";
}
.ico-clipboard-left:before {
  content: "\e6ce";
}
.ico-clipboard-alert:before {
  content: "\e6cf";
}
.ico-clipboard-user:before {
  content: "\e6d0";
}
.ico-register:before {
  content: "\e6d1";
}
.ico-enter:before {
  content: "\e6d2";
}
.ico-exit:before {
  content: "\e6d3";
}
.ico-papers:before {
  content: "\e6d4";
}
.ico-news:before {
  content: "\e6d5";
}
.ico-reading:before {
  content: "\e6d6";
}
.ico-typewriter:before {
  content: "\e6d7";
}
.ico-document:before {
  content: "\e6d8";
}
.ico-document-2:before {
  content: "\e6d9";
}
.ico-license:before {
  content: "\e6db";
}
.ico-license-2:before {
  content: "\e6dc";
}
.ico-medal-empty:before {
  content: "\e6dd";
}
.ico-medal-first:before {
  content: "\e6de";
}
.ico-medal-second:before {
  content: "\e6df";
}
.ico-medal-third:before {
  content: "\e6e0";
}
.ico-podium:before {
  content: "\e6e1";
}
.ico-trophy:before {
  content: "\e6e2";
}
.ico-trophy-2:before {
  content: "\e6e3";
}
.ico-music-note:before {
  content: "\e6e4";
}
.ico-music-note-2:before {
  content: "\e6e5";
}
.ico-shuffle:before {
  content: "\e6ec";
}
.ico-repeat-one:before {
  content: "\e6ed";
}
.ico-repeat:before {
  content: "\e6ee";
}
.ico-headphones:before {
  content: "\e6ef";
}
.ico-headset:before {
  content: "\e6f0";
}
.ico-equalizer:before {
  content: "\e6f2";
}
.ico-presentation:before {
  content: "\e6f6";
}
.ico-play:before {
  content: "\e6f7";
}
.ico-film-play:before {
  content: "\e6f8";
}
.ico-clapboard-play:before {
  content: "\e6f9";
}
.ico-film:before {
  content: "\e6fb";
}
.ico-camera:before {
  content: "\e6ff";
}
.ico-camera-crossed:before {
  content: "\e700";
}
.ico-camera-play:before {
  content: "\e701";
}
.ico-time-lapse:before {
  content: "\e702";
}
.ico-record:before {
  content: "\e703";
}
.ico-camera-2:before {
  content: "\e704";
}
.ico-camera-flip:before {
  content: "\e705";
}
.ico-convex:before {
  content: "\e70c";
}
.ico-concave:before {
  content: "\e70d";
}
.ico-picture:before {
  content: "\e70e";
}
.ico-picture-2:before {
  content: "\e70f";
}
.ico-picture-3:before {
  content: "\e710";
}
.ico-pictures:before {
  content: "\e711";
}
.ico-book:before {
  content: "\e712";
}
.ico-book-2:before {
  content: "\e714";
}
.ico-bookmark:before {
  content: "\e715";
}
.ico-bookmark-2:before {
  content: "\e716";
}
.ico-label:before {
  content: "\e717";
}
.ico-library:before {
  content: "\e718";
}
.ico-library-2:before {
  content: "\e719";
}
.ico-contacts:before {
  content: "\e71a";
}
.ico-profile:before {
  content: "\e71b";
}
.ico-portrait:before {
  content: "\e71c";
}
.ico-portrait-2:before {
  content: "\e71d";
}
.ico-user:before {
  content: "\e71e";
}
.ico-user-plus:before {
  content: "\e71f";
}
.ico-user-minus:before {
  content: "\e720";
}
.ico-user-lock:before {
  content: "\e721";
}
.ico-users:before {
  content: "\e722";
}
.ico-users-2:before {
  content: "\e723";
}
.ico-users-plus:before {
  content: "\e724";
}
.ico-users-minus:before {
  content: "\e725";
}
.ico-group-work:before {
  content: "\e726";
}
.ico-woman:before {
  content: "\e727";
}
.ico-man:before {
  content: "\e728";
}
.ico-woman2:before {
  content: "\e731";
}
.ico-man2:before {
  content: "\e732";
}
.ico-man-woman:before {
  content: "\e733";
}
.ico-store:before {
  content: "\e744";
}
.ico-store-24:before {
  content: "\e746";
}
.ico-barcode:before {
  content: "\e747";
}
.ico-barcode-2:before {
  content: "\e748";
}
.ico-barcode-3:before {
  content: "\e749";
}
.ico-cashier:before {
  content: "\e74a";
}
.ico-bag:before {
  content: "\e74b";
}
.ico-bag-2:before {
  content: "\e74c";
}
.ico-cart:before {
  content: "\e74d";
}
.ico-cart-empty:before {
  content: "\e74e";
}
.ico-cart-full:before {
  content: "\e74f";
}
.ico-cart-plus:before {
  content: "\e750";
}
.ico-cart-plus-2:before {
  content: "\e751";
}
.ico-cart-add:before {
  content: "\e752";
}
.ico-cart-remove:before {
  content: "\e753";
}
.ico-cart-exchange:before {
  content: "\e754";
}
.ico-tag:before {
  content: "\e755";
}
.ico-tags:before {
  content: "\e756";
}
.ico-receipt:before {
  content: "\e757";
}
.ico-wallet:before {
  content: "\e758";
}
.ico-credit-card:before {
  content: "\e759";
}
.ico-cash-dollar:before {
  content: "\e75a";
}
.ico-cash-euro:before {
  content: "\e75b";
}
.ico-cash-pound:before {
  content: "\e75c";
}
.ico-cash-yen:before {
  content: "\e75d";
}
.ico-bag-dollar:before {
  content: "\e75e";
}
.ico-bag-euro:before {
  content: "\e75f";
}
.ico-bag-pound:before {
  content: "\e760";
}
.ico-bag-yen:before {
  content: "\e761";
}
.ico-coin-dollar:before {
  content: "\e762";
}
.ico-coin-euro:before {
  content: "\e763";
}
.ico-coin-pound:before {
  content: "\e764";
}
.ico-coin-yen:before {
  content: "\e765";
}
.ico-calculator:before {
  content: "\e766";
}
.ico-calculator-2:before {
  content: "\e767";
}
.ico-vault:before {
  content: "\e769";
}
.ico-telephone:before {
  content: "\e76a";
}
.ico-phone-lock:before {
  content: "\e76b";
}
.ico-phone-wave:before {
  content: "\e76c";
}
.ico-phone-pause:before {
  content: "\e76d";
}
.ico-phone-outgoing:before {
  content: "\e76e";
}
.ico-phone-incoming:before {
  content: "\e76f";
}
.ico-phone-in-out:before {
  content: "\e770";
}
.ico-phone-error:before {
  content: "\e771";
}
.ico-phone-sip:before {
  content: "\e772";
}
.ico-phone-plus:before {
  content: "\e773";
}
.ico-phone-minus:before {
  content: "\e774";
}
.ico-voicemail:before {
  content: "\e775";
}
.ico-dial:before {
  content: "\e776";
}
.ico-telephone-2:before {
  content: "\e777";
}
.ico-pushpin:before {
  content: "\e778";
}
.ico-pushpin-2:before {
  content: "\e779";
}
.ico-map-marker:before {
  content: "\e77a";
}
.ico-map-marker-user:before {
  content: "\e77b";
}
.ico-map-marker-down:before {
  content: "\e77c";
}
.ico-map-marker-check:before {
  content: "\e77d";
}
.ico-map-marker-crossed:before {
  content: "\e77e";
}
.ico-radar:before {
  content: "\e77f";
}
.ico-compass-2:before {
  content: "\e780";
}
.ico-map:before {
  content: "\e781";
}
.ico-map-2:before {
  content: "\e782";
}
.ico-location:before {
  content: "\e783";
}
.ico-road-sign:before {
  content: "\e784";
}
.ico-calendar-empty:before {
  content: "\e785";
}
.ico-calendar-check:before {
  content: "\e786";
}
.ico-calendar-cross:before {
  content: "\e787";
}
.ico-calendar-31:before {
  content: "\e788";
}
.ico-calendar-full:before {
  content: "\e789";
}
.ico-calendar-insert:before {
  content: "\e78a";
}
.ico-calendar-text:before {
  content: "\e78b";
}
.ico-calendar-user:before {
  content: "\e78c";
}
.ico-mouse:before {
  content: "\e78d";
}
.ico-mouse-left:before {
  content: "\e78e";
}
.ico-mouse-right:before {
  content: "\e78f";
}
.ico-mouse-both:before {
  content: "\e790";
}
.ico-keyboard:before {
  content: "\e791";
}
.ico-keyboard-up:before {
  content: "\e792";
}
.ico-keyboard-down:before {
  content: "\e793";
}
.ico-delete:before {
  content: "\e794";
}
.ico-spell-check:before {
  content: "\e795";
}
.ico-escape:before {
  content: "\e796";
}
.ico-enter2:before {
  content: "\e797";
}
.ico-screen:before {
  content: "\e798";
}
.ico-aspect-ratio:before {
  content: "\e799";
}
.ico-signal:before {
  content: "\e79a";
}
.ico-signal-lock:before {
  content: "\e79b";
}
.ico-signal-80:before {
  content: "\e79c";
}
.ico-signal-60:before {
  content: "\e79d";
}
.ico-signal-40:before {
  content: "\e79e";
}
.ico-signal-20:before {
  content: "\e79f";
}
.ico-signal-0:before {
  content: "\e7a0";
}
.ico-signal-blocked:before {
  content: "\e7a1";
}
.ico-sim:before {
  content: "\e7a2";
}
.ico-flash-memory:before {
  content: "\e7a3";
}
.ico-usb-drive:before {
  content: "\e7a4";
}
.ico-phone:before {
  content: "\e7a5";
}
.ico-smartphone:before {
  content: "\e7a6";
}
.ico-smartphone-notification:before {
  content: "\e7a7";
}
.ico-smartphone-vibration:before {
  content: "\e7a8";
}
.ico-smartphone-embed:before {
  content: "\e7a9";
}
.ico-smartphone-waves:before {
  content: "\e7aa";
}
.ico-tablet:before {
  content: "\e7ab";
}
.ico-tablet-2:before {
  content: "\e7ac";
}
.ico-laptop:before {
  content: "\e7ad";
}
.ico-laptop-phone:before {
  content: "\e7ae";
}
.ico-desktop:before {
  content: "\e7af";
}
.ico-launch:before {
  content: "\e7b0";
}
.ico-new-tab:before {
  content: "\e7b1";
}
.ico-window:before {
  content: "\e7b2";
}
.ico-remote-control:before {
  content: "\e7b7";
}
.ico-power-switch:before {
  content: "\e7b8";
}
.ico-power:before {
  content: "\e7b9";
}
.ico-power-crossed:before {
  content: "\e7ba";
}
.ico-flash-auto:before {
  content: "\e7bb";
}
.ico-lamp:before {
  content: "\e7bc";
}
.ico-flashlight:before {
  content: "\e7bd";
}
.ico-battery-power:before {
  content: "\e7c1";
}
.ico-battery-empty:before {
  content: "\e7c2";
}
.ico-battery-alert:before {
  content: "\e7c3";
}
.ico-battery-error:before {
  content: "\e7c4";
}
.ico-battery-low-1:before {
  content: "\e7c5";
}
.ico-battery-low-2:before {
  content: "\e7c6";
}
.ico-battery-low-3:before {
  content: "\e7c7";
}
.ico-battery-mid-1:before {
  content: "\e7c8";
}
.ico-battery-mid-2:before {
  content: "\e7c9";
}
.ico-battery-mid-3:before {
  content: "\e7ca";
}
.ico-battery-full:before {
  content: "\e7cb";
}
.ico-battery-charging:before {
  content: "\e7cc";
}
.ico-battery-charging-2:before {
  content: "\e7cd";
}
.ico-battery-charging-3:before {
  content: "\e7ce";
}
.ico-battery-charging-4:before {
  content: "\e7cf";
}
.ico-battery-charging-5:before {
  content: "\e7d0";
}
.ico-battery-charging-6:before {
  content: "\e7d1";
}
.ico-battery-charging-7:before {
  content: "\e7d2";
}
.ico-bubble:before {
  content: "\e7d6";
}
.ico-bubbles:before {
  content: "\e7d7";
}
.ico-bubble-dots:before {
  content: "\e7d8";
}
.ico-bubble-alert:before {
  content: "\e7d9";
}
.ico-bubble-question:before {
  content: "\e7da";
}
.ico-bubble-text:before {
  content: "\e7db";
}
.ico-bubble-user:before {
  content: "\e7df";
}
.ico-bubble-quote:before {
  content: "\e7e0";
}
.ico-bubble-emoticon:before {
  content: "\e7e2";
}
.ico-bubble-attachment:before {
  content: "\e7e3";
}
.ico-phone-bubble:before {
  content: "\e7e4";
}
.ico-quote-open:before {
  content: "\e7e5";
}
.ico-quote-close:before {
  content: "\e7e6";
}
.ico-dna:before {
  content: "\e7e7";
}
.ico-heart-pulse:before {
  content: "\e7e8";
}
.ico-pulse:before {
  content: "\e7e9";
}
.ico-pie-chart:before {
  content: "\e7f8";
}
.ico-pie-chart2:before {
  content: "\e7f9";
}
.ico-graph:before {
  content: "\e7fa";
}
.ico-chart-growth:before {
  content: "\e7fb";
}
.ico-chart-bars:before {
  content: "\e7fc";
}
.ico-chart-settings:before {
  content: "\e7fd";
}
.ico-cake:before {
  content: "\e7fe";
}
.ico-gift:before {
  content: "\e7ff";
}
.ico-rank:before {
  content: "\e801";
}
.ico-rank2:before {
  content: "\e802";
}
.ico-rank3:before {
  content: "\e803";
}
.ico-diamond:before {
  content: "\e806";
}
.ico-diamond2:before {
  content: "\e807";
}
.ico-diamond3:before {
  content: "\e808";
}
.ico-diamond4:before {
  content: "\e809";
}
.ico-speed-slow:before {
  content: "\e834";
}
.ico-speed-medium:before {
  content: "\e835";
}
.ico-speed-fast:before {
  content: "\e836";
}
.ico-rocket:before {
  content: "\e837";
}
.ico-balance:before {
  content: "\e839";
}
.ico-briefcase:before {
  content: "\e83a";
}
.ico-plane:before {
  content: "\e83d";
}
.ico-plane-crossed:before {
  content: "\e83e";
}
.ico-transmission:before {
  content: "\e849";
}
.ico-bicycle:before {
  content: "\e85f";
}
.ico-cube:before {
  content: "\e874";
}
.ico-3d-rotate:before {
  content: "\e875";
}
.ico-puzzle:before {
  content: "\e876";
}
.ico-glasses:before {
  content: "\e877";
}
.ico-glasses-2:before {
  content: "\e878";
}
.ico-accessibility:before {
  content: "\e879";
}
.ico-wheelchair:before {
  content: "\e87a";
}
.ico-icons:before {
  content: "\e87e";
}
.ico-resize-handle:before {
  content: "\e87f";
}
.ico-icons-2:before {
  content: "\e880";
}
.ico-select:before {
  content: "\e881";
}
.ico-select2:before {
  content: "\e882";
}
.ico-site-map:before {
  content: "\e883";
}
.ico-earth:before {
  content: "\e884";
}
.ico-earth-lock:before {
  content: "\e885";
}
.ico-network:before {
  content: "\e886";
}
.ico-network-lock:before {
  content: "\e887";
}
.ico-planet:before {
  content: "\e888";
}
.ico-happy:before {
  content: "\e889";
}
.ico-smile:before {
  content: "\e88a";
}
.ico-sad:before {
  content: "\e88d";
}
.ico-alarm:before {
  content: "\e8aa";
}
.ico-alarm-add:before {
  content: "\e8ab";
}
.ico-alarm-snooze:before {
  content: "\e8ac";
}
.ico-alarm-ringing:before {
  content: "\e8ad";
}
.ico-bullhorn:before {
  content: "\e8ae";
}
.ico-hearing:before {
  content: "\e8af";
}
.ico-volume-high:before {
  content: "\e8b0";
}
.ico-volume-medium:before {
  content: "\e8b1";
}
.ico-volume-low:before {
  content: "\e8b2";
}
.ico-volume:before {
  content: "\e8b3";
}
.ico-mute:before {
  content: "\e8b4";
}
.ico-lan:before {
  content: "\e8b5";
}
.ico-lan-2:before {
  content: "\e8b6";
}
.ico-wifi:before {
  content: "\e8b7";
}
.ico-communication:before {
  content: "\e8c5";
}
.ico-broadcast:before {
  content: "\e8c7";
}
.ico-antenna:before {
  content: "\e8c8";
}
.ico-satellite:before {
  content: "\e8c9";
}
.ico-mic:before {
  content: "\e8cb";
}
.ico-mic-mute:before {
  content: "\e8cc";
}
.ico-loading:before {
  content: "\e8d0";
}
.ico-refresh:before {
  content: "\e8d3";
}
.ico-undo:before {
  content: "\e8d5";
}
.ico-redo:before {
  content: "\e8d6";
}
.ico-undo-2:before {
  content: "\e8d8";
}
.ico-redo-2:before {
  content: "\e8d9";
}
.ico-sync:before {
  content: "\e8da";
}
.ico-repeat-one-2:before {
  content: "\e8db";
}
.ico-sync-crossed:before {
  content: "\e8dc";
}
.ico-sync2:before {
  content: "\e8dd";
}
.ico-repeat-one3:before {
  content: "\e8de";
}
.ico-sync-crossed2:before {
  content: "\e8df";
}
.ico-return:before {
  content: "\e8e0";
}
.ico-return2:before {
  content: "\e8e1";
}
.ico-refund:before {
  content: "\e8e2";
}
.ico-history:before {
  content: "\e8e3";
}
.ico-history2:before {
  content: "\e8e4";
}
.ico-self-timer:before {
  content: "\e8e5";
}
.ico-clock:before {
  content: "\e8e6";
}
.ico-clock-2:before {
  content: "\e8e7";
}
.ico-clock-3:before {
  content: "\e8e8";
}
.ico-watch:before {
  content: "\e8e9";
}
.ico-alarm-2:before {
  content: "\e8ea";
}
.ico-alarm-add-2:before {
  content: "\e8eb";
}
.ico-alarm-remove:before {
  content: "\e8ec";
}
.ico-alarm-check:before {
  content: "\e8ed";
}
.ico-alarm-error:before {
  content: "\e8ee";
}
.ico-timer:before {
  content: "\e8ef";
}
.ico-timer-2:before {
  content: "\e8f1";
}
.ico-download:before {
  content: "\e8f3";
}
.ico-upload:before {
  content: "\e8f4";
}
.ico-download-2:before {
  content: "\e8f5";
}
.ico-upload-2:before {
  content: "\e8f6";
}
.ico-enter-up:before {
  content: "\e8f7";
}
.ico-enter-down:before {
  content: "\e8f8";
}
.ico-enter-left:before {
  content: "\e8f9";
}
.ico-enter-right:before {
  content: "\e8fa";
}
.ico-exit-up:before {
  content: "\e8fb";
}
.ico-exit-down:before {
  content: "\e8fc";
}
.ico-exit-left:before {
  content: "\e8fd";
}
.ico-exit-right:before {
  content: "\e8fe";
}
.ico-enter-up2:before {
  content: "\e8ff";
}
.ico-enter-down2:before {
  content: "\e900";
}
.ico-enter-vertical:before {
  content: "\e901";
}
.ico-enter-left2:before {
  content: "\e902";
}
.ico-enter-right2:before {
  content: "\e903";
}
.ico-enter-horizontal:before {
  content: "\e904";
}
.ico-exit-up2:before {
  content: "\e905";
}
.ico-exit-down2:before {
  content: "\e906";
}
.ico-exit-left2:before {
  content: "\e907";
}
.ico-exit-right2:before {
  content: "\e908";
}
.ico-cli:before {
  content: "\e909";
}
.ico-bug:before {
  content: "\e90a";
}
.ico-code:before {
  content: "\e90b";
}
.ico-file-code:before {
  content: "\e90c";
}
.ico-file-image:before {
  content: "\e90d";
}
.ico-file-zip:before {
  content: "\e90e";
}
.ico-file-audio:before {
  content: "\e90f";
}
.ico-file-video:before {
  content: "\e910";
}
.ico-file-preview:before {
  content: "\e911";
}
.ico-file-charts:before {
  content: "\e912";
}
.ico-file-stats:before {
  content: "\e913";
}
.ico-file-spreadsheet:before {
  content: "\e914";
}
.ico-link:before {
  content: "\e915";
}
.ico-unlink:before {
  content: "\e916";
}
.ico-link-2:before {
  content: "\e917";
}
.ico-unlink-2:before {
  content: "\e918";
}
.ico-thumbs-up:before {
  content: "\e919";
}
.ico-thumbs-down:before {
  content: "\e91a";
}
.ico-share:before {
  content: "\e91f";
}
.ico-share-2:before {
  content: "\e920";
}
.ico-share-3:before {
  content: "\e921";
}
.ico-magnifier:before {
  content: "\e922";
}
.ico-file-search:before {
  content: "\e923";
}
.ico-find-replace:before {
  content: "\e924";
}
.ico-zoom-in:before {
  content: "\e925";
}
.ico-zoom-out:before {
  content: "\e926";
}
.ico-loupe:before {
  content: "\e927";
}
.ico-loupe-zoom-in:before {
  content: "\e928";
}
.ico-loupe-zoom-out:before {
  content: "\e929";
}
.ico-cross:before {
  content: "\e92a";
}
.ico-menu:before {
  content: "\e92b";
}
.ico-list:before {
  content: "\e92c";
}
.ico-list-number:before {
  content: "\e92d";
}
.ico-list-check:before {
  content: "\e92e";
}
.ico-menu-list:before {
  content: "\e92f";
}
.ico-list-bullets:before {
  content: "\e930";
}
.ico-flying-menu:before {
  content: "\e931";
}
.ico-exclamation:before {
  content: "\e932";
}
.ico-question:before {
  content: "\e933";
}
.ico-check:before {
  content: "\e934";
}
.ico-cross2:before {
  content: "\e935";
}
.ico-plus:before {
  content: "\e936";
}
.ico-minus:before {
  content: "\e937";
}
.ico-percent:before {
  content: "\e938";
}
.ico-chevron-up:before {
  content: "\e939";
}
.ico-chevron-down:before {
  content: "\e93a";
}
.ico-chevron-left:before {
  content: "\e93b";
}
.ico-chevron-right:before {
  content: "\e93c";
}
.ico-chevrons-expand-vertical:before {
  content: "\e93d";
}
.ico-chevrons-expand-horizontal:before {
  content: "\e93e";
}
.ico-chevrons-contract-vertical:before {
  content: "\e93f";
}
.ico-chevrons-contract-horizontal:before {
  content: "\e940";
}
.ico-arrow-up:before {
  content: "\e941";
}
.ico-arrow-down:before {
  content: "\e942";
}
.ico-arrow-left:before {
  content: "\e943";
}
.ico-arrow-right:before {
  content: "\e944";
}
.ico-arrow-up-right:before {
  content: "\e945";
}
.ico-arrows-merge:before {
  content: "\e946";
}
.ico-arrows-split:before {
  content: "\e947";
}
.ico-arrow-divert:before {
  content: "\e948";
}
.ico-arrow-return:before {
  content: "\e949";
}
.ico-expand:before {
  content: "\e94a";
}
.ico-contract:before {
  content: "\e94b";
}
.ico-expand-2:before {
  content: "\e94c";
}
.ico-contract-2:before {
  content: "\e94d";
}
.ico-move:before {
  content: "\e94e";
}
.ico-tab:before {
  content: "\e94f";
}
.ico-arrow-wave:before {
  content: "\e950";
}
.ico-expand-3:before {
  content: "\e951";
}
.ico-expand-4:before {
  content: "\e952";
}
.ico-contract-3:before {
  content: "\e953";
}
.ico-notification:before {
  content: "\e954";
}
.ico-warning:before {
  content: "\e955";
}
.ico-notification-circle:before {
  content: "\e956";
}
.ico-question-circle:before {
  content: "\e957";
}
.ico-menu-circle:before {
  content: "\e958";
}
.ico-checkmark-circle:before {
  content: "\e959";
}
.ico-cross-circle:before {
  content: "\e95a";
}
.ico-plus-circle:before {
  content: "\e95b";
}
.ico-circle-minus:before {
  content: "\e95c";
}
.ico-percent-circle:before {
  content: "\e95d";
}
.ico-arrow-up-circle:before {
  content: "\e95e";
}
.ico-arrow-down-circle:before {
  content: "\e95f";
}
.ico-arrow-left-circle:before {
  content: "\e960";
}
.ico-arrow-right-circle:before {
  content: "\e961";
}
.ico-chevron-up-circle:before {
  content: "\e962";
}
.ico-chevron-down-circle:before {
  content: "\e963";
}
.ico-chevron-left-circle:before {
  content: "\e964";
}
.ico-chevron-right-circle:before {
  content: "\e965";
}
.ico-backward-circle:before {
  content: "\e966";
}
.ico-first-circle:before {
  content: "\e967";
}
.ico-previous-circle:before {
  content: "\e968";
}
.ico-stop-circle:before {
  content: "\e969";
}
.ico-play-circle:before {
  content: "\e96a";
}
.ico-pause-circle:before {
  content: "\e96b";
}
.ico-next-circle:before {
  content: "\e96c";
}
.ico-last-circle:before {
  content: "\e96d";
}
.ico-forward-circle:before {
  content: "\e96e";
}
.ico-eject-circle:before {
  content: "\e96f";
}
.ico-crop:before {
  content: "\e970";
}
.ico-frame-expand:before {
  content: "\e971";
}
.ico-frame-contract:before {
  content: "\e972";
}
.ico-focus:before {
  content: "\e973";
}
.ico-transform:before {
  content: "\e974";
}
.ico-grid:before {
  content: "\e975";
}
.ico-grid-crossed:before {
  content: "\e976";
}
.ico-layers:before {
  content: "\e977";
}
.ico-layers-crossed:before {
  content: "\e978";
}
.ico-toggle:before {
  content: "\e979";
}
.ico-rulers:before {
  content: "\e97a";
}
.ico-ruler:before {
  content: "\e97b";
}
.ico-funnel:before {
  content: "\e97c";
}
.ico-flip-horizontal:before {
  content: "\e97d";
}
.ico-flip-vertical:before {
  content: "\e97e";
}
.ico-flip-horizontal-2:before {
  content: "\e97f";
}
.ico-flip-vertical-2:before {
  content: "\e980";
}
.ico-angle:before {
  content: "\e981";
}
.ico-angle-2:before {
  content: "\e982";
}
.ico-subtract:before {
  content: "\e983";
}
.ico-combine:before {
  content: "\e984";
}
.ico-intersect:before {
  content: "\e985";
}
.ico-exclude:before {
  content: "\e986";
}
.ico-align-center-vertical:before {
  content: "\e987";
}
.ico-align-right:before {
  content: "\e988";
}
.ico-align-bottom:before {
  content: "\e989";
}
.ico-align-left:before {
  content: "\e98a";
}
.ico-align-center-horizontal:before {
  content: "\e98b";
}
.ico-align-top:before {
  content: "\e98c";
}
.ico-square:before {
  content: "\e98d";
}
.ico-plus-square:before {
  content: "\e98e";
}
.ico-minus-square:before {
  content: "\e98f";
}
.ico-percent-square:before {
  content: "\e990";
}
.ico-arrow-up-square:before {
  content: "\e991";
}
.ico-arrow-down-square:before {
  content: "\e992";
}
.ico-arrow-left-square:before {
  content: "\e993";
}
.ico-arrow-right-square:before {
  content: "\e994";
}
.ico-chevron-up-square:before {
  content: "\e995";
}
.ico-chevron-down-square:before {
  content: "\e996";
}
.ico-chevron-left-square:before {
  content: "\e997";
}
.ico-chevron-right-square:before {
  content: "\e998";
}
.ico-check-square:before {
  content: "\e999";
}
.ico-cross-square:before {
  content: "\e99a";
}
.ico-menu-square:before {
  content: "\e99b";
}
.ico-prohibited:before {
  content: "\e99c";
}
.ico-circle:before {
  content: "\e99d";
}
.ico-radio-button:before {
  content: "\e99e";
}
.ico-text-format:before {
  content: "\e9a0";
}
.ico-text-size:before {
  content: "\e9a2";
}
.ico-highlight:before {
  content: "\e9a7";
}
.ico-indent-increase:before {
  content: "\e9ad";
}
.ico-indent-decrease:before {
  content: "\e9ae";
}
.ico-sort-alpha-asc:before {
  content: "\e9b5";
}
.ico-sort-alpha-desc:before {
  content: "\e9b6";
}
.ico-sort-numeric-asc:before {
  content: "\e9b7";
}
.ico-sort-numeric-desc:before {
  content: "\e9b8";
}
.ico-sort-amount-asc:before {
  content: "\e9b9";
}
.ico-sort-amount-desc:before {
  content: "\e9ba";
}
.ico-sort-time-asc:before {
  content: "\e9bb";
}
.ico-sort-time-desc:before {
  content: "\e9bc";
}
.ico-sigma:before {
  content: "\e9bd";
}
.ico-pencil-line:before {
  content: "\e9be";
}
.ico-hand:before {
  content: "\e9bf";
}
.ico-pointer-up:before {
  content: "\e9c0";
}
.ico-pointer-right:before {
  content: "\e9c1";
}
.ico-pointer-down:before {
  content: "\e9c2";
}
.ico-pointer-left:before {
  content: "\e9c3";
}
.ico-finger-tap:before {
  content: "\e9c4";
}
.ico-fingers-tap:before {
  content: "\e9c5";
}
.ico-reminder:before {
  content: "\e9c6";
}
.ico-fingers-crossed:before {
  content: "\e9c7";
}
.ico-fingers-victory:before {
  content: "\e9c8";
}
.ico-gesture-zoom:before {
  content: "\e9c9";
}
.ico-gesture-pinch:before {
  content: "\e9ca";
}
.ico-fingers-scroll-horizontal:before {
  content: "\e9cb";
}
.ico-fingers-scroll-vertical:before {
  content: "\e9cc";
}
.ico-fingers-scroll-left:before {
  content: "\e9cd";
}
.ico-fingers-scroll-right:before {
  content: "\e9ce";
}
.ico-pointer-right2:before {
  content: "\e9d1";
}
.ico-pointer-down2:before {
  content: "\e9d2";
}
.ico-pointer-left2:before {
  content: "\e9d3";
}
.ico-finger-tap2:before {
  content: "\e9d4";
}
.ico-fingers-tap2:before {
  content: "\e9d5";
}
.ico-reminder2:before {
  content: "\e9d6";
}
.ico-gesture-zoom2:before {
  content: "\e9d7";
}
.ico-gesture-pinch2:before {
  content: "\e9d8";
}
.ico-fingers-scroll-horizontal2:before {
  content: "\e9d9";
}
.ico-fingers-scroll-vertical2:before {
  content: "\e9da";
}
.ico-fingers-scroll-left2:before {
  content: "\e9db";
}
.ico-fingers-scroll-right2:before {
  content: "\e9dc";
}
.ico-fingers-scroll-vertical3:before {
  content: "\e9dd";
}
.ico-border-all:before {
  content: "\e9df";
}
.ico-ellipsis:before {
  content: "\e9e9";
}
