.ls-boxes {
    .ls-box {
        margin-bottom: 0;
        border-radius: 0;
        position: relative;
        margin-top: -1px;
        padding: 20px;
        &:first-child {
            border-radius: 4px 4px 0 0;
        }
        &:last-child {
            border-radius: 0 0 4px 4px;
        }   
        &:only-child {
            border-radius: 4px;
        }     
    }
    .ls-title {
        color: #544364;
        font-size: 18px;
    }
}

/*Relacionar listas*/
.relacionar-listas {
	height: 430px;
	overflow: auto;
    padding: 25px 20px;
}