.ls-breadcrumb {
    margin-bottom: 20px;
    border: none;
    font-size: 13px;
    li {
        color: #8399f5;
        padding: 0 6px 0 0;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            @include pseudoElemento {
                display: none;
            }
        }        
        &:before {
            display: none;
        }
        @include pseudoElemento {
            position: relative;
            content: ">";
            color: #a9b2c4;
            float: right;
            margin-left: 5px;
        }
        a {
            color: #a9b2c4;
            text-decoration: none;
        }
    }
}

.ls-box {
    .passos {
        margin-bottom: 0;
        counter-reset: contador;
        display: flex;
        li {
            display: flex;
            align-items: center;
            &:before {
                counter-increment: contador;
                display: inline-block;
                content: counter(contador);
                border: none;
                float: left;
                width: 38px;
                height: 38px;
                background: #eaeaee;
                border-radius: 100%;
                margin-right: 10px;
                display: flex;
                align-items: center;   
                justify-content: center;
                color: #a6a6c4;             
            } 
            a:hover {
                color: #8399f5;
            }
            &:after {
                display: none;
            }
            &.active {
                &:before {
                    color: #fff;    
                    @include gradiente(#8399f5, #7aa9f1, $direcao: "vertical");
                }
                a {
                    color: #8399f5;
                }
            }
        }
    }
}