body {
    font-family: $font-family-padrao;
    font-weight: 100;
    color: $texto-principal-color;
    font-size: $texto-principal-size;
}
.ls-main {
    background-color: $conteudo-principal-bg;
}