body {
    font-family: $font-family-padrao;
    font-weight: 100;
    color: $texto-principal-color;
    font-size: $texto-principal-size;
}

p {
    margin-bottom: 0;
    ~ p {
        margin-top: 10px;
    }
    a {
        border: none;
    }
}

.ls-sidebar {
    .ls-sidebar-toggle {
        display: none !important;
    }
}

.ls-main {
    background-color: $conteudo-principal-bg;
    height: auto;
    padding-bottom: 30px;
}

.page-header {
    padding: 29px 0 20px;    
}

.ls-title-intro {
    position: relative;
    sup {
        font-size: 12px;
        color: #7da4f2;
        position: relative;
        left: -5px;
        top: -6px;  
        font-weight: bold;      
    }
}

.ls-title-intro {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    background: transparent;
    font-size: 32px;
    color: $titulo-pagina-color;
    font-weight: 400;
    padding: 0;
    border-bottom: solid 1px #eaeaee;
    padding-bottom: 25px;
    margin-bottom: 0;
}