.ls-boxes {
    .container-filtros {
        padding-bottom: 5px;
        input {
            background: #fff;
        }
        &.small-gutters {
            [class*="col"] {
                padding-right: 0;
                //padding-left: 8px;
            }
        }
    }
}