.ls-label {
    position: relative;
}

.ls-label .ls-input-text,
.ls-label input[type="color"],
.ls-label input[type="date"],
.ls-label input[type="datetime"],
.ls-label input[type="datetime-local"],
.ls-label input[type="email"],
.ls-label input[type="month"],
.ls-label input[type="number"],
.ls-label input[type="password"],
.ls-label input[type="search"],
.ls-label input[type="tel"],
.ls-label input[type="text"],
.ls-label input[type="time"],
.ls-label input[type="url"],
.ls-label input[type="week"],
.ls-label textarea {
    color: #a6a6c4;
    background: #f6f6f6;
    @include placeholders(#a6a6c4);
    height: 40px;
    border-radius: 3px;
    border: solid 1px #e2e2e2;
    box-shadow: none;
    font-size: 13px;
    font-weight: 100;
    font-family: $font-family-padrao;
    &:focus {
        outline: none;
    }
}

.ls-label textarea {
    height: 95px;
}

.field-has-icon {
    &:before {
        position: absolute;
        right: 25px;
        top: 10px;
        font-size: 20px;
        pointer-events: none;
        color: #4388ff;
    }
    input {
        padding-right: 40px;
    }
}

/*Checkox*/

.checkbox-container {
    background: #fff;
    border-radius: 3px;
    display: block;
    margin-bottom: 15px;
    padding: 13px 15px;
    color: #7ea1f3;
    margin-right: 0;
    .state {
        position: relative;
    }
    &.with-avatar {
        .state {
            label {
                padding-left: 50px;
            }
        }
        .user-avatar {
            width: 20px;
            position: absolute;
            left: 50px;
            top: 11px;
            border-radius: 50%;
        }
    }
}

.pretty .state label:after,
.pretty .state label:before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    border: solid 1px #809cf4;
    z-index: 0;
    position: absolute;
    left: 0;
    top: calc((0% - (100% - 1em)) - 8%);
    background-color: transparent;
}

.pretty .state label {
    padding-left: 10px;
    margin-top: 1px;
}

.pretty input:checked~.state.p-primary-o label:before,
.pretty.p-toggle .state.p-primary-o label:before {
    border: solid 1px #809cf4;
}

.pretty.p-tada:not(.p-default) input:checked+.state .icon {
    color: #809cf4;
    width: 20px;
    height: 20px;
}

/* Checkbox Estilo Radio */

.radio-style {
    background-color: #fff;
    border: solid 1px #eeeeee;
    padding: 11px 15px;
    border-radius: 30px;
    margin-bottom: 15px;
    .state {
        position: relative;
        label {
            color: #a6a6c4;
            position: relative;
            font-weight: 100;
            padding-left: 5px;
            &:before {
                // border-color: #87a9f3;
                // background-color: #87a9f3;  
                border-color: #87a9f3;
                background-color: #fff;
                width: 16px;
                height: 16px;
            }
            &:after {
                //background-color: #fff;
                left: -2px;
                top: -3px;
                border: none;
                transform: scale(0) !important;
                transition: 0.3s;
            }
        }
    }
    &.pretty.p-default input:checked~.state label:after {
        background: #87a9f3 !important;
        transform: scale(.3) !important;
    }
}

/*Select*/

.select2-container--default {
    &:focus {
        outline: none;
    }
    .select2-selection--single {
        height: 40px;
        border-radius: 3px;
        border: solid 1px #e2e2e2; 
        .select2-selection__rendered {
            line-height: 40px;
            color: #a6a6c4;
            text-align: left;
            padding: 0 11px;            
        }       
    }
}



