.user-data {
    //background: rgba(red, 0.5);
    overflow: hidden;
    display: flex;
    align-items: center;
    .avatar {
        width: 35px;
        float: left;
        border-radius: 50%;
        margin-right: 15px;
    }
    .user-data-info {
        float: left;
    }
    .user-data-header {
        color: $texto-destaque;
        margin: 0;
    }
    .user-data-description {
        margin: 2px 0 0 0;        
    }
    [class*="nv-icon"] {
        &:before {
            font-size: 11px;
            margin: 0 8px 0 0;   
        }
    }
    &[data-detalhes-fontes] {
        cursor: pointer;
    }
}

.profile-image {
    img {
        border-radius: 50%;
    }
}

.zone-upload-profile-image  {
    position: relative;
    border: none;
    background: #ccc;
    color: #fff;
    border-radius: 100%;
    height: 130px;
    min-height: 130px;
    display: flex;
    align-items: center;
    &.dz-max-files-reached {
        border: none;
    }
    .dz-preview{
        &.dz-image-preview .dz-image {
            img {
                border-radius: 100%;
                transition: none;
            }
        }
        .dz-remove {
            color: #7ea1f3;
            display: block;
            margin-top: -3px;
            text-align: center;
            font-size: 12px;            
        }
    }
}

.switchable-area {
    min-height: 310px;
    .user-data {
        background: #fff;
        padding: 8px 15px;
        border-radius: 3px;
        margin-bottom: 8px;
        .avatar {
            width: 20px;
        }
        .btn-remover {
            display: none;
            margin: 0;
            padding: 0;
            .text {
                display: none;
            }            
        }
        [class*="nv-icon"]:before {
            margin: 0;
            font-size: 15px;
            color: #a6a6c4;
        }
    }
    .user-data-info {
        float: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;        
    }
}

.switchable-area-2 {
    &:empty {
        &:before {
            content: "Arraste as fontes para cá!";
            display: flex;
            color: #fff;
            justify-content: center;
            min-height: 380px;
            align-items: center;  
            font-size: 18px;                  
        }
    }
    // .empty-message {
    //     display: flex;
    //     color: #fff;
    //     justify-content: center;
    //     min-height: 380px;
    //     align-items: center;        
    //     p {
    //         font-size: 18px;
    //     }
    // }
    .user-data {
        .avatar {
            display: none;
        }
        .btn-remover {
            display: block;
        }        
    }   
}

