.ls-notification {
	.ls-notification-list {
	    background: #fff;
	    box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
		[class*="ls-title"] {
		    background: #8399f5;
		    color: #fff;
		    padding: 10px 15px;
		    font-size: 18px;
		}
		&:before {
			border-bottom-color: #8399f5;
		}
		a:not([class*="btn"]) {
			color: #a6a6c4;
			&:hover {
				color: #a6a6c4;
			}
			&.ls-close-notification {
				color: #ff6565;
			}
		}
	}
}



