html {
    [class*="ls-pagination"] {
        li{
            a {
                color: #4d4f5c;
            }
            &.ls-active {
                background: #7fa1f3;
            }
            .icon {
                width: 26px;
                display: block;
                height: 31px;
            }

            &:first-child{
                .icon {
                    background: url(../../assets/img/arrows/paginacao-arrow-left.png) no-repeat center / 40%;
                    text-indent: -9999px;
                }
            }

            &:last-child{
                .icon {
                    background: url(../../assets/img/arrows/paginacao-arrow-right.png) no-repeat center / 40%;
                    text-indent: -9999px;
                }
            }            

            &:first-child,
            &:last-child {
                a {
                    padding: 0 3px;
                    color: #808495;
                }
            }
            &:first-child,
            &:last-child {
                &.ls-disabled {
                    a {
                        color: #ccc;
                        .icon {
                            opacity: 0.5;
                        }
                    }
                }  
            }
        }
    }
}