.popover {
    max-width: none;
}

.detalhes-relatorios-processamento {
    width: 640px;
    padding: 15px;
    .icone-relogio {
        font-size: 18px;
        position: relative;
        top: 5px;
    }
    .ls-table {
        margin: 0;
        border-spacing: 0 0;
        +* {
            margin-top: 8px;
        }
        tr {
            &:nth-child(even) {
                display: none;
                td {
                    background: #fff;
                    border: solid 1px #eee;
                    &:first-child {
                        width: 170px;
                    }
                }
            }
            &.open {
                th {
                    &:first-child {
                        &:after {
                            content: "\e937";
                        }
                    }
                }
            }
        }
        th {
            text-transform: uppercase;
            color: #809ef3;
            position: relative;
            &:first-child {
                &:after {
                    display: block;
                    content: "\e936";
                    font-family: 'icomoon-novavida';
                    float: left;
                    font-size: 10px;
                    font-weight: bold;
                    margin-right: 5px;
                    position: relative;
                    top: 1px;
                }
            }
            .icone {
                font-size: 18px;
                position: absolute;
                left: -10px;
            }
            &.warning {
                color: #ffca83;
            }
            &.success {
                color: #27deac;
            }
        }
        td,
        th {
            &:last-child {
                width: 220px;
                padding-left: 20px;
            }
        }
        .icone {
            color: #809ef3;
            font-size: 30px;
            float: left;
            margin-top: 2px;
            margin-right: 4px;
            font-weight: bold;
        }
        .ui.header {
            display: flex;
            justify-content: space-between;
            .button {
                padding: 0;
                .icone {
                    font-size: 30px;
                }
            }
        }
        &:first-child {
            margin-top: 40px;
            th {
                &:before {
                    display: block;
                    position: absolute;
                    top: -30px;
                    left: 0;
                    content: attr(title);
                    color: #a6a6c4;
                    text-transform: none;
                    padding-left: 20px;
                }
            }
        }
    }
}

.detalhes-relatorios-pendentes {
    width: 650px;
    .tab-workflow {
        .box-linha-conteudo {
            padding-left: 50px;
        }
    }
}

// .detalhes-relatorios-pendentes {
//     width: 675px;
//     height: 100%;
//     height: 350px;
//     overflow: auto;
//     .ls-table {
//         width: 580px;
//         float: right;
//         position: relative;
//         &:before {
//             display: block;
//             position: absolute;
//             left: -30px;
//             content: "";
//             width: 1px;
//             height: 100%;
//             background: #e6e6e6;
//             top: 30px;
//         }
//         &:last-child {
//             &:before {
//                 display: none;
//             }
//         }
//         tr {
//             &:nth-child(even) {
//                 display: none;
//                 background: #fff;
//             }
//         }
//         th {
//             padding: 15px;
//             background-color: #f1f1f1;
//             font-weight: 100;
//             position: relative;
//             &:first-child {
//                 &:before {
//                     display: block;
//                     font-size: 30px;
//                     position: absolute;
//                     font-family: "Icons";
//                     left: -45px;
//                 }
//                 &.aprovado {
//                     &:before {
//                         //content: "\f058";
//                         content: "\e80b";
//                         color: #27deac;
//                     }
//                 }
//                 &.reprovado {
//                     &:before {
//                         content: "\f06a";
//                         color: red;
//                     }
//                 }
//                 &.aguardando {
//                     &:before {
//                         content: "\f141";
//                         color: #fff;
//                         background: #a6a6c4;
//                         display: block;
//                         width: 30px;
//                         height: 30px;
//                         border-radius: 50%;
//                         line-height: 30px;
//                         font-size: 16px;
//                         text-align: center;
//                     }
//                 }
//             }
//             &:last-child {
//                 width: 165px;
//             }
//         }
//         .label {
//             width: 100%;
//             text-align: center;
//             margin: 0;
//             font-size: 13px;
//             font-weight: 100;
//             +* {
//                 margin-top: 5px;
//             }
//         }
//         +* {
//             margin-top: 15px;
//         }
//         .ui.header {
//             .content {
//                 .sub.header {
//                     padding-left: 15px;
//                     position: relative;
//                     .icon {
//                         position: absolute;
//                         left: 0;
//                         top: 1px;
//                     }
//                 }
//             }
//         }
//     }
//     .tab.segment {
//         @extend %clear;
//     }
//     .dados-status-relatorio {
//         width: 100%;
//         &:before {
//             display: none;
//         }
//     }
// }
.ui.popup-detalhes-departamento {
    @include gradiente(#8399f5, #7aa9f1);
    color: #fff;
    border: none;
    font-weight: 100;
    &.top,
    &.bottom {
        &:before {
            @include gradiente(#8399f5, #7aa9f1);
        }
    }
    p {
        margin-bottom: 0;
        font-size: 12px;
    }
}

.link-anchor {
    position: relative;
    width: 0;
    font-size: .8em;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.anchor-wrapper {
    border: none;
}

.anchor-wrapper:hover .link-anchor {
    opacity: 1;
}