.popover {
    max-width: none;
}

.popover-body {
    color: #a6a6c4;
    padding-bottom: 20px;
}

.detalhes-relatorios-processamento {
    width: 640px;
    padding: 15px;
    .icone-relogio {
        font-size: 18px;
        position: relative;
        top: 5px;
    }
    .ls-table {
        margin: 0;
        border-spacing: 0 0;
        +* {
            margin-top: 8px;
        }
        tr {
            &:nth-child(even) {
                display: none;
                td {
                    background: #fff;
                    border: solid 1px #eee;
                    &:first-child {
                        width: 170px;
                    }
                }
            }
            &.open {
                th {
                    &:first-child {
                        &:after {
                            content: "\e937";
                        }
                    }
                }
            }
        }
        th {
            text-transform: uppercase;
            color: #809ef3;
            position: relative;
            &:first-child {
                &:after {
                    display: block;
                    content: "\e936";
                    font-family: 'icomoon-novavida';
                    float: left;
                    font-size: 10px;
                    font-weight: bold;
                    margin-right: 5px;
                    position: relative;
                    top: 1px;
                }
            }
            .icone {
                font-size: 18px;
                position: absolute;
                left: -10px;
            }
            &.warning {
                color: #ffca83;
                i {
                    &:before {
                        font-size: 18px;
                    }
                }
            }
            &.success {
                color: #27deac;
                i {
                    &:before {
                        font-size: 18px;
                    }
                }                
            }
        }
        td,
        th {
            &:last-child {
                width: 220px;
                padding-left: 15px;
            }
        }
        .icone {
            color: #809ef3;
            font-size: 30px;
            float: left;
            margin-top: 2px;
            margin-right: 4px;
            font-weight: bold;
        }
        .ui.header {
            display: flex;
            justify-content: space-between;
            .button {
                padding: 0;
                .icone {
                    font-size: 30px;
                }
            }
        }
        &:first-child {
            margin-top: 40px;
            th {
                &:before {
                    display: block;
                    position: absolute;
                    top: -30px;
                    left: 0;
                    content: attr(title);
                    color: #a6a6c4;
                    text-transform: none;
                    padding-left: 20px;
                }
            }
        }
    }
}

.detalhes-relatorios-pendentes {
    width: 650px;
    .tab-workflow {
        .box-linha {
            padding-left: 50px;            
            @include pseudoElemento($tipo: before) {
                width: 2px;
                height: 100%;
                background: #e6e6e6;
                left: 25px;
                top: 40px;
            }
            .box-linha__cabecalho {
                @include pseudoElemento($tipo: before) {
                    width: 30px;
                    //height: 30px;
                    left: -40px;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 100%;
                    //background: #a6a6c4;
                    content: "\e81d";
                    color: #a6a6c4;
                    font-size: 30px;
                    font-family: 'nova-vida-icones';
                }
            }
            &.aprovado {
                .box-linha__cabecalho {
                    &:before {
                        content: "\e80b";
                        color: #27deac;
                    }
                }
            }
            &.reprovado {
                .box-linha__cabecalho {
                    &:before {
                        content: "\e825";
                        color: #ff6565;
                    }
                }
            }   
            &:last-child {
                &:before {
                    display: none;
                }
            }         
        }
    }
    .box-linha__conteudo {
        display: none;
    }
}


.ui.popup-detalhes-departamento {
    @include gradiente(#8399f5, #7aa9f1);
    color: #fff;
    border: none;
    font-weight: 100;
    &.top,
    &.bottom {
        &:before {
            @include gradiente(#8399f5, #7aa9f1);
        }
    }
    p {
        margin-bottom: 0;
        font-size: 12px;
    }
}

.popover-exportar-relatorios {
    margin-bottom: -10px;
    a {
        display: flex;
        align-items: center;
        flex-flow: row-reverse;
        flex-direction: row-reverse;
        font-size: 12px;
        color: #7ea1f3;
        padding: 8px 0;
        transition: 0.3s;
        &:before {
            font-size: 16px;
            margin-left: 10px;
        }
        &:first-child {
            border-bottom: solid 1px #f1f1f1;
        }
        &:hover {
            text-decoration: none;
            color: darken(#7ea1f3, 10%);
        }
    }

}

.link-anchor {
    position: relative;
    width: 0;
    font-size: .8em;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.anchor-wrapper {
    border: none;
}

.anchor-wrapper:hover .link-anchor {
    opacity: 1;
}

.the_tooltip {
    position: absolute;
    left: calc(100% + 20px);
    top: -14px;
    width: 220px;
    z-index: 2;
    border-radius: 5px;
    padding: 10px 20px;
    @include gradiente(#8399f5, #7aa9f1);
    color: #fff;
    display: none;
    p {
        font-size: 14px;
        margin-bottom: 5px;
        &:not(:first-child) {
            margin: 3px 0 0;
            font-size: 12px;
        }
    }
    @include pseudoElemento {
        z-index: -14;
        display: block;
        content: "";
        width: 15px;
        height: 15px;
        display: block;
        background-color: #8399f5;
        position: absolute;
        left: -6px;
        top: 15px;
        transform: rotate(-45deg);   
        border-radius: 3px;     
    }
}