html {
    .ls-tabs-container {
        .ls-tab-content {
            padding: 0;
            border: none;
        }
    }
}




html {
    .page-title-tabs {
        &:not(.in-dropdown) {
            position: relative;
            @include pseudoElemento{
                bottom: 0;
                height: 2px;
                width: 100%;
                background: #eaeaee;
            }
            li {
                background: transparent;
                border: none;
                position: relative;
                @include pseudoElemento {
                    width: 100%;
                    height: 2px;
                    background-color: transparent;
                    bottom: 0;       
                    transform: scaleX(0);
                    transition: 0.8s;             
                }
                &:hover {
                    background: transparent;
                    transition: 0.5s;
                    a {
                        color: $page-tab-hover-color;
                        transition: 0.5s;
                    }
                }
                a {
                    font-size: 30px;
                    color: $page-tab-color;
                    padding: 15px 16px 20px;
                }                
                &.ls-active {
                    background: transparent;
                    z-index: 1;
                    @include pseudoElemento {
                        background-color: #8399f5;
                        transform: scaleX(1);
                    }
                    a {
                        color: $page-tab-active-color;
                        padding: 15px 16px 20px;
                    }
                }
                
            }
        }
    }
}

.ls-tabs-container {
    .ls-tab-content {
        margin-bottom: 0;
    }
}

html {
    .box-tabs {
        &:not(.in-dropdown) {
        display: flex;
        position: relative;
            @include pseudoElemento {
                height: 2px;
                background: #eaeaee;
                bottom: 0;
                width: 100%;            
            }
            li {
                display: flex;
                flex-grow: 1;
                justify-content: center;
                border: none;
                background-color: #fff;
                position: relative;
                @include pseudoElemento {
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background: transparent;
                    z-index: 1;
                    transform: scaleX(0);
                    transition: 0.8s;
                }
                &:hover {
                    background-color: #fff;
                }
                a {
                    text-align: center;
                    display: block;
                    color: #a6a6c4;
                    font-size: 13px;
                    text-transform: uppercase;
                    padding: 26px 20px;
                    width: 100%;
                    transition: 0.5s;
                }
                &.ls-active {
                    @include pseudoElemento {
                        background-color: #7da2f2;
                        transform: scaleX(1);
                    }
                    a {
                        padding: 26px 20px;
                        color: #7da2f2;
                    }
                }
            }
        }
        + .ls-tabs-container {
            margin-top: 30px;
        }
    }
}