/*Tags*/
.tagify {
    @extend .ls-input-text;
    tag {
        > div {
            background: #fff;
            padding: 7px 25px 7px 15px;
            border-radius: 20px;
            color: #a6a6c4;
        }
        x {
            color: #4388ff;
            font-weight: bold;
            font-size: 17px;
            top: 12px;
            right: 7px;
            &:hover {
                background: transparent;
                color: #4388ff;
            }
        }
    }
    .tagify__input:empty::before {
        opacity: 1;
        color: #a6a6c4;
    }
}



