@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI-Semibold.eot');
    src: url('SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),
        url('SegoeUI-Semibold.woff2') format('woff2'),
        url('SegoeUI-Semibold.woff') format('woff'),
        url('SegoeUI-Semibold.ttf') format('truetype'),
        url('SegoeUI-Semibold.svg#SegoeUI-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI-SemiboldItalic.eot');
    src: url('SegoeUI-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('SegoeUI-SemiboldItalic.woff2') format('woff2'),
        url('SegoeUI-SemiboldItalic.woff') format('woff'),
        url('SegoeUI-SemiboldItalic.ttf') format('truetype'),
        url('SegoeUI-SemiboldItalic.svg#SegoeUI-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI-Semilight.eot');
    src: url('SegoeUI-Semilight.eot?#iefix') format('embedded-opentype'),
        url('SegoeUI-Semilight.woff2') format('woff2'),
        url('SegoeUI-Semilight.woff') format('woff'),
        url('SegoeUI-Semilight.ttf') format('truetype'),
        url('SegoeUI-Semilight.svg#SegoeUI-Semilight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI-SemilightItalic.eot');
    src: url('SegoeUI-SemilightItalic.eot?#iefix') format('embedded-opentype'),
        url('SegoeUI-SemilightItalic.woff2') format('woff2'),
        url('SegoeUI-SemilightItalic.woff') format('woff'),
        url('SegoeUI-SemilightItalic.ttf') format('truetype'),
        url('SegoeUI-SemilightItalic.svg#SegoeUI-SemilightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI.eot');
    src: url('SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('SegoeUI.woff2') format('woff2'),
        url('SegoeUI.woff') format('woff'),
        url('SegoeUI.ttf') format('truetype'),
        url('SegoeUI.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
}