@font-face {
  font-family: 'nova-vida-icones';
  src: url('../font/nova-vida-icones.eot?64349494');
  src: url('../font/nova-vida-icones.eot?64349494#iefix') format('embedded-opentype'),
       url('../font/nova-vida-icones.woff2?64349494') format('woff2'),
       url('../font/nova-vida-icones.woff?64349494') format('woff'),
       url('../font/nova-vida-icones.ttf?64349494') format('truetype'),
       url('../font/nova-vida-icones.svg?64349494#nova-vida-icones') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'nova-vida-icones';
    src: url('../font/nova-vida-icones.svg?64349494#nova-vida-icones') format('svg');
  }
}
*/
 
 [class^="nv-icon"]:before, [class*=" nv-icon"]:before {
  font-family: "nova-vida-icones" !important;
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.nv-icon-arrow-left-thin:before { content: '\e801'; } /* '' */
.nv-icon-arrow-right-thin:before { content: '\e803'; } /* '' */
.nv-icon-balance:before { content: '\e806'; } /* '' */
.nv-icon-bars-graphic:before { content: '\e807'; } /* '' */
.nv-icon-calendar:before { content: '\e808'; } /* '' */
.nv-icon-camera:before { content: '\e809'; } /* '' */
.nv-icon-check-circle:before { content: '\e80a'; } /* '' */
.nv-icon-check-circle-thin:before { content: '\e80b'; } /* '' */
.nv-icon-check:before { content: '\e80c'; } /* '' */
.nv-icon-config:before { content: '\e80e'; } /* '' */
.nv-icon-customer:before { content: '\e80f'; } /* '' */
.nv-icon-description:before { content: '\e810'; } /* '' */
.nv-icon-filter:before { content: '\e812'; } /* '' */
.nv-icon-fingerprint:before { content: '\e813'; } /* '' */
.nv-icon-fullscreen:before { content: '\e814'; } /* '' */
.nv-icon-home:before { content: '\e815'; } /* '' */
.nv-icon-image:before { content: '\e816'; } /* '' */
.nv-icon-info-circle:before { content: '\e817'; } /* '' */
.nv-icon-info-degrees:before { content: '\e818'; } /* '' */
.nv-icon-list:before { content: '\e81a'; } /* '' */
.nv-icon-map:before { content: '\e81b'; } /* '' */
.nv-icon-mark:before { content: '\e81c'; } /* '' */
.nv-icon-more-info:before { content: '\e81d'; } /* '' */
.nv-icon-network:before { content: '\e81e'; } /* '' */
.nv-icon-note-board:before { content: '\e81f'; } /* '' */
.nv-icon-note:before { content: '\e820'; } /* '' */
.nv-icon-notifications:before { content: '\e821'; } /* '' */
.nv-icon-print:before { content: '\e822'; } /* '' */
.nv-icon-quote:before { content: '\e823'; } /* '' */
.nv-icon-reader-mode:before { content: '\e824'; } /* '' */
.nv-icon-remove-circle:before { content: '\e825'; } /* '' */
.nv-icon-remove:before { content: '\e826'; } /* '' */
.nv-icon-settings:before { content: '\e827'; } /* '' */
.nv-icon-talk:before { content: '\e828'; } /* '' */
.nv-icon-talking:before { content: '\e829'; } /* '' */
.nv-icon-trash:before { content: '\e82a'; } /* '' */
.nv-icon-update:before { content: '\e82b'; } /* '' */
.nv-icon-upload:before { content: '\e82c'; } /* '' */
.nv-icon-visibility:before { content: '\e82d'; } /* '' */
.nv-icon-zoom-in:before { content: '\e82e'; } /* '' */
.nv-icon-zoom-out:before { content: '\e82f'; } /* '' */
.nv-icon-zoom:before { content: '\e830'; } /* '' */