.featherlight {
    .featherlight-content {
        padding: 0;
        border-bottom: none;
        border-radius: 8px;
        p {
            color: #a6a6c4;
        }
    }
    .featherlight-close-icon {
        position: absolute;
        top: 15px;
        right: 15px;
        text-align: center;
        font-family: "Segoe UI";
        background: transparent;
        color: #7ea0f3;
        border: none;
        padding: 0;
        font-size: 20px;
    }
}

.modal-popup {
    min-width: 400px;
}

.modal-popup-header {
    border-bottom: solid 1px #ececec;
    padding: 20px;
    color: #a6a6c4;
    p {
        font-size: 16px;
    }
}

.modal-popup-imagem {
    text-align: center;
    margin-bottom: 20px;
}

.modal-popup-titulo {
    font-size: 18px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #544364;
    margin-bottom: 0;
}

/***** Customizações de Modais *****/

/* Temos de Uso */
.modal-termos-uso .featherlight-content {
    max-width: 600px;
    width: 100%;
}

/* Confirmação de Compra */
.modal-confirmacao-compra {
    .featherlight-content {
        width: 100%;
        max-width: 400px;
    }
    .modal-popup-header {
        min-height: 320px;
        padding-top: 50px;
    }
    .modal-popup-titulo {
        font-size: 24px;
        color: #a6a6c4;
        text-align: center;
        text-transform: uppercase
    }
    .modal-popup-conteudo {
        .grupo-botoes {
            display: block;
            .ui.button {
                min-width: 120px;
            }
        }
    }
}

.modal-confirmacao {
    .modal-popup-titulo {
        text-align: center;
    }
}


.detalhes-fontes {
    width: 980px;
    .ls-box.slider-wrapper {
        padding: 50px 0;
    }
    .content-slider {
        width: 680px;
        margin: 0 auto;
        .slick-arrow {
            width: 31px;
            height: 52px;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 2;
            &.slick-disabled {
                opacity: 0.1;
            }
            &:before {
                display: none;
            }
            &.slick-prev {
                left: -80px;
                background: url("../img/slider/arrow-prev-slide.png") no-repeat;
            }
            &.slick-next {
                right: -80px;
                background: url("../img/slider/arrow-next-slide.png") no-repeat;
            }
        }
    }
}

.modal-relacionar-perfil {
    .featherlight-content {
        max-width: 600px;
        width: 100%;
    }
}

// .modal-termos-uso {
//     .featherlight-content {
//         max-width: 600px;
//         width: 100%;
//     }
// }

// .modal-confirmacao-compra {
//     .featherlight-content {
//         width: 100%;
//         max-width: 400px;
//     }
//     .modal-popup-header {
//         min-height: 320px;
//         padding-top: 50px;
//     }
//     .modal-popup-titulo {
//         font-size: 24px;
//         color: #a6a6c4;
//         text-align: center;
//         text-transform: uppercase
//     }
//     .modal-popup-conteudo {
//         .grupo-botoes {
//             display: block;
//             .ui.button {
//                 min-width: 120px;
//             }
//         }
//     }
// }

// .modal-monitoria-relatorio {
//     .featherlight-content {
//         width: 100%;
//         max-width: 450px;
//     }
// }

// .featherlight {
//     &.modal-popover {
//         .featherlight-close {
//             top: 5px;
//             right: 10px;            
//         }
//         .featherlight-content {
//             margin-left: 0;
//             margin-right: 0;
//             box-shadow: 0 0 5px 3px rgba(0,0,0,0.1);
//             border: solid 1px #ececec;
//         }
//         &:last-of-type {
//             background: transparent;
//         }
//     }
// }



// .modal-confirmacao {
//     .modal-popup-titulo {
//         text-align: center;
//     }
// }
