.zone-upload-image {
    width: 350px;
    height: 350px;
    background: url(../img/placeholder-imagem-upload.png) center 80px no-repeat #f0f2f8;
    margin: 0 auto;
    border: none;
    font-size: 13px;
    color: #a6a6c4;
    font-weight: 100;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 70px;    
    position: relative;
    &.dz-started {
        padding: 0;
    }
}

.dropzone .dz-preview .dz-remove {
    color: #7ea1f3;
    display: block;
    margin-top: 5px;
    text-align: right;    
}

.dropzone .dz-preview.dz-image-preview {
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    .dz-image {
        border-radius: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            transition: 0.5s;
        }
    } 
    &:hover {
        .dz-image {
            img {
                filter: none;
                transform: none;
                -webkit-transform: none;
                -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
            }
        }
    }   
}


.area-upload {
    background: #f9f9f9;
    padding: 45px 30px;
    margin-top: 0;
    .conteudo-upload {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;   
        p {
            font-size: 16px;
            color: #a6a6c4;
            margin: 0;
        }
        .btn {
            padding: 22px 80px;
            margin-top: 30px;
            font-size: 16px;
            text-transform: uppercase;
        }         
        small {
            font-size: 13px;
            color: #7ea1f3;
            display: block;
            margin-top: 10px;
        }
    }
}

.profile-image {
    img {
        border-radius: 50%;
    }
}

.zone-upload-profile-image  {
    position: relative;
    cursor: pointer;
    width: 100%;
    padding: 0;
    height: 0;
    min-height: inherit;
    padding-top: 100%;
    border-radius: 50%;
    display: flex;
    background: url("../img/placeholder-upload-perfil.jpg");
    border: solid 1px #a6a6c4;
    background-size: contain;    
    .dz-message {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0;
        border-radius: 50%;  
        font-size: 18px;
        padding: 0 15px;   
        @include pseudoElement {
            background: #fff;
            border-radius: 50%;
            right: 0;
            bottom: 0;
            font-family: 'icomoon-novavida';
            content: "\e95e";
            font-size: 42px;
            transition: 0.3s;
            
        }  
        &:hover {
            &:after {
                transform: translateY(-10%);
                color: #7EA1F3;
            }
        }         
    }
    &.dz-max-files-reached {
        border: none;
    }
    .dz-preview{
        &.dz-image-preview .dz-image {
            img {
                border-radius: 100%;
                transition: none;
            }
        }
        .dz-remove {
            color: #7ea1f3;
            display: block;
            margin-top: -3px;
            text-align: center;
            font-size: 12px;            
        }
    }
}




